<style>
    .font-receipt-bold {
        font-weight: 500 !important;
        color: #7CC1A9!important;
    }

    .img-receipt-bold {
        filter: invert(80%) sepia(3%) saturate(3565%) hue-rotate(107deg) brightness(86%) contrast(97%);
    }
</style>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="Receipt">
<div class="container">
    <div class="form-row">
        <div class="col-md-12 mb-2 ">
            <div class="row ">
                    <div class="col-12 header-group">
                        <h2 class="font-weight-bold menu-header">@Localizer["รายการใบเสร็จ"]</h2>
                        <ul class="breadcrumb mb-2">
                            <li class="breadcrumb-item"><a class="color-a-breadcrumb" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active text-ellipsis" aria-current="page">@Localizer["คำสั่งซื้อ"]</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-md-12 mb-2 search">
                <input class="form-control input-lg main-input" type="search" id="SearchTable" placeholder="@Localizer["Search"]" style="height: 45px;" autocomplete="off">
        </div>
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <div class="d-flex">
                                        <div class="mr-auto p-0 layout-text-head"><label class="font-weight-bold mb-4 font-size">@Localizer["รายการใบเสร็จ"] <small class="size-small font-weight-bold layout-all ms-2"> @Localizer["จำนวนทั้งหมด"] 2</small></label>  </div>
                                        <div class=" p-2"><button class="btn btn-print "><i class="fa fa-print me-3"></i>@Localizer["พิมพ์"]</button></div>
                                        <div class=" p-2"><button type="button" class="btn btn-refresh" id="ButtonRefresh"><i class="fa fa-refresh me-3"></i>@Localizer["รีเฟรช"]</button></div>
                                </div>
                            </div>
                        <div class="col-md-12 mb-2">
                            <div class="table-responsive">
                            <table class="table" id="TableReceipt" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">ลำดับ</th>
                                                    <th scope="col" class="size-times">@Localizer["เวลา"]</th>
                                                    <th scope="col" class="size-types">@Localizer["ประเภทออเดอร์"]</th>
                                                    <th scope="col" class="size-table">@Localizer["เลขโต๊ะ"]</th>
                                                    <th scope="col" class="size-ordernumber">@Localizer["หมายเลขคำสั่งซื้อ"]</th>
                                                    <th scope="col" class="size-balance">@Localizer["ยอดชำระ"]</th>
                                                    <th scope="col" class="size-status">@Localizer["สถานะ"]</th>
                                    
                                    </tr>
                                </thead>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
    var table = $('#TableReceipt').DataTable({
            ajax: '/mymenumerchant/data/Receipts.txt',
        processing: false,
        serverSide: false,
        stateSave: false,
        columns: [
            { data: 'id',},
            { data: 'times' },
            { data: 'typeorders' },
            { data: 'tablenumbers' },
            { data: 'ordernumber' },
            { data: 'settles' },
            { data: 'statuss' },
        ],
        columnDefs: [{
            targets: [0],
            render: function(data, type, full, meta) {
                var text0 = "";
                text0 = "<div class='form-check color-check'>"+
                            "<input type='checkbox' class='form-check-input' id='"+data+"'>"+
                            "<label class='form-check-label' for='"+data+"'>"+(meta.row + meta.settings._iDisplayStart + 1)+"</label>"+
                        "</div>";
                return text0;
            },
        },{
            targets: [1],
            render: function(data, type, full, meta) {
                var text1 = "";
                text1 = "<p>"+data+"</p>";
                return text1;
            },
        },{
            targets: [2],
            render: function(data, type, full, meta) {
                var text2 = "";
                text2 = "<p>"+data+"</p>";
                return text2;
            },
        },{
            targets: [3],
            render: function(data, type, full, meta) {
                var text3 = "";
                text3 = "<p>"+data+"</p>";
                return text3;
            },
        },{
            targets: [4],
            render: function(data, type, full, meta) {
                var text4 = "";
                text4 = "<p>"+data+"</p>";
                return text4;
            },
        },{
            targets: [5],
            render: function(data, type, full, meta) {
                var text5 = "";
                text5 = "<p>"+data+"</p>";
                return text5;
            },
        },{
            targets: [6],
            render: function(data, type, full, meta) {
                var text6 = "";
                
                if (data == "1") {
                    text6 ="<p class='color-succeed'>สำเร็จ</p>";
                } else if (data == "2") {
                    text6 ="<p class='status-color-pending'>รอดำเนินการ</p>";
                } else if (data == "3") {
                    text6 ="<p class='status-color-cancel'>ยกเลิก</p>";
                } else { 
                    text6 ="<p>"+data+"</p>";
                }
                
                return text6;
            },
        },
        ],
        "language": {
            "emptyTable": "<p class='colot-no-data mt-5 mb-5'>ยังไม่มีรายการใบเสร็จ</p><br/><br/><br/><br/>",
            "zeroRecords":"<p class='colot-no-data mt-5 mb-5'>ไม่พบข้อมูล</p><br/><br/><br/><br/>",
            "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>Loading..</p><br/><br/><br/><br/>",
            
        },
        searching: true,
        paging: false,
        ordering: false,
        info: false,
    });

    var tables = $('#TableReceipt').DataTable();
    $('#SearchTable').on( 'keyup', function () {
        tables.search( this.value ).draw();
    });

    $('#ButtonRefresh').on('click', function() {
        $('#TableReceipt').DataTable().ajax.reload();
    });
});
</script>