@{
    ViewData["Title"] = "BranchsEdit";
}
﻿@using MyMenu.ORM.Master;
@model Branch
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<body id="BranchsEdit">
    <div class="container">
        <form id="Save" onchange="enableButton()">
            <div class="form-row">
                <div class="col-12  mb-3">
                    <div class="row ">
                        <div class="col-12 header-group">
                            <a asp-controller="Merchant" asp-action="Branchs"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                            <h2 class="font-weight-bold menu-header">@Localizer["แก้ไขสาขา"]</h2>
                            @*เงื่อนไข ต้องไม่ใช้สาขา หลัก*@
                            @if (ViewBag.role.ToString().ToLower() == "owner" || ViewBag.role.ToString().ToLower() == "admin")
                            {
                                <button type="button" class="btn btn-delete-subcategory font-weight-bold layout-add" data-toggle="modal" data-target="#EditModalBranchsDelete" id="btnDelete" onclick="btnDeleteBranch()"><i class="fa fa-trash-o me-1 margin-top-3"></i> @Localizer["ลบสาขา"]</button>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="col-md-12 ">
                                <div class="">
                                    <label class="font-weight-bold color-name-head font-18">@Localizer["ข้อมูลสาขา"]</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="BranchId">@Localizer["รหัสสาขา"]</label>
                                            <div class="input-group input-text">
                                                <input type="text" class="form-control examine" id="BranchId" placeholder="@Localizer["รหัสสาขา"]" maxlength="255" disabled value="@Model.BranchID" />
                                                <input type="text" name="BranchID" maxlength="255" hidden value="@Model.BranchID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="BranchInvoiceID">@Localizer["รหัสสาขา"] @Localizer["(สำหรับใบกำกับภาษี)"]</label>
                                            <div class="input-group input-text">
                                                <input type="tel" class="form-control examine" id="TaxBranchID" name="TaxBranchID" placeholder="@Localizer["รหัสสาขา"]" maxlength="5" value="@Model.TaxBranchID" oninput="numberInput(this)" /> @* เพิ่มฟังก์ชันสำหรับกรอกเฉพาะตัวเลข *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="BranchName">@Localizer["ชื่อสาขา"]</label>
                                            <div class="input-group input-text">
                                                <input type="text" class="form-control examine" id="BranchName" name="BranchName" maxlength="255" placeholder="@Localizer["ชื่อสาขา"]" value="@Model.BranchName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="TimeSet">@Localizer["เวลาเปิดทำการ"]</label>
                                            <div class="input-group input-text">
                                                <input type="text" class="form-control examine" id="TimeSet" name="OpeningHours" maxlength="255" placeholder="@Localizer["เวลาเปิดทำการ"]" value="@Model.OpeningHours" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*                    <div class="col-md-12">
                            <div class="row">
                            <div class="col">
                            <div class="form-group">
                            <label class="font-weight-bold" for="Details">รายละเอียดที่อยู่</label>
                            <div class="input-group input-text">
                            <textarea class="form-control examine" id="Details" rows="3" name="Address" maxlength="255" placeholder="รายละเอียดที่อยู่" >@Model.Address1</textarea>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>*@
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="Address1">@Localizer["รายละเอียดที่อยู่"]</label>
                                            <div class="input-group input-text">
                                                <input class="form-control" id="Address1" name="Address1" maxlength="250" placeholder="@Localizer["รายละเอียดที่อยู่"] 1" value="@Model.Address1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group input-text">
                                                <input class="form-control" id="Address2" name="Address2" maxlength="250" placeholder="@Localizer["รายละเอียดที่อยู่"] 2" value="@Model.Address2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="Tel">@Localizer["เบอร์โทรศัพท์"]</label>
                                            <div class="input-group input-text">
                                                <input type="tel" class="form-control examine" id="Tel" name="Tel" maxlength="12" placeholder="000-000-0000" value="@Model.Tel" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12  mb-2">
                    <div class="d-flex justify-content-end">
                        <div class="pt-3">
                            <button type="submit" class="btn-save" id="btnsave" disabled="">@Localizer["บันทึก"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- EditModalBranchsDelete -->
    <div class="modal fade " id="EditModalBranchsDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ">
                    <h5 class="text-center mb-5 my-5" id="namedelete">@Localizer["คุณต้องการลบ สาขา"] "สาขา" @Localizer["หรือไม่?"]</h5>
                    <div class=" d-flex justify-content-center mr-4 ml-4 mb-3">
                        <input id="iddelete" value="" hidden />
                        <button type="button" class="font-weight-bold btn  button-modal-delete" onclick="fnDelete()">@Localizer["ลบ"]</button>
                        <button type="button" class="font-weight-bold btn ms-5 button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- APIModalBranchsEdit -->
    <div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ">
                    <div class="my-5">
                        <h5 class="text-center font-weight-bold  my-5-adddiscount fo "> @Localizer["แก้ไขไม่สำเร็จ"]</h5>
                        <h5 class="text-center font-weight-bold  my-5-adddiscount fo "> @Localizer["กรุณาลองใหม่อีกครั้ง"]</h5>
                    </div>

                    <div class=" d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal">@Localizer["ตกลง"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var oldBranchDetail = [];
    $(document).ready(function () {

        $("#Save").on("submit", function (e) {
            var dataString = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "@Url.Action("EditBranch", "Merchant")",
                data: dataString,
                success: function (message) {
                    window.location.href = "@Url.Action("Branchs", "Merchant")";
                }, error: function (message) {
                    console.log(message.responseText);
                    $('#ModalAlert').modal('show');
                }
            });
            e.preventDefault();
        });


        //old data
        var oldBranchId = $('#BranchId').val();
        var oldTaxBranchID = $('#TaxBranchID').val();
        var oldBranchName = $('#BranchName').val();
        var oldTimeSet = $('#TimeSet').val();
        var oldAddress1 = $('#Address1').val();
        var oldAddress2 = $('#Address2').val();
        var oldTel = $('#Tel').val();


        oldBranchDetail = { "oldBranchId": oldBranchId, "oldTaxBranchID": oldTaxBranchID, "oldBranchName": oldBranchName, "oldTimeSet": oldTimeSet, "oldAddress1": oldAddress1, "oldAddress2": oldAddress2, "oldTel": oldTel }
        var result = Object.keys(oldBranchDetail).map((key) => [key, oldBranchDetail[key]]);
        console.log(result);

        if (oldBranchId == "1") {
            $('#btnDelete').css('display', 'none');
        }

    });

    const phoneInput = document.getElementById('Tel');
    phoneInput.addEventListener('input', () => {
        var unformattedNumber = phoneInput.value.replace(/-/g, '');

        //เพิ่มเช็คตัวอักษร
        const matchstr = unformattedNumber.match('^[0-9]+$');
        if (!matchstr) {
            console.log(matchstr);
            unformattedNumber = unformattedNumber.slice(0, -1);
        }

        const match = unformattedNumber.match(/^(\d{0,3})(\d{0,3})(\d{0,4})$/);
        if (match) {
            const formattedNumber = [match[1], match[2], match[3]].filter(Boolean).join('-');
            phoneInput.value = formattedNumber;
        }
    });

    function enableButton() {
        var btn = $('#btnsave');

        //New data
        var TaxBranchID = $('#TaxBranchID').val();
        var BranchName = $('#BranchName').val();
        var TimeSet = $('#TimeSet').val();
        var Address1 = $('#Address1').val();
        var Address2 = $('#Address2').val();
        var Tel = $('#Tel').val();

        //var newBranchDetail = { "TaxBranchID": TaxBranchID, "BranchName": BranchName, "TimeSet": TimeSet, "Address1": Address1, "Address2": Address2, "Tel": Tel }
        //console.log(newBranchDetail);

        if (oldBranchDetail.oldTaxBranchID === TaxBranchID &&
            oldBranchDetail.oldBranchName === BranchName &&
            oldBranchDetail.oldTimeSet === TimeSet &&
            oldBranchDetail.oldAddress1 === Address1 &&
            oldBranchDetail.oldAddress2 === Address2 &&
            oldBranchDetail.oldTel === Tel) {
            btn.prop("disabled", true); //Disable
        } else {
            btn.prop("disabled", false); //Enable
        }
    }

    function btnDeleteBranch() {
        $('#iddelete').val(oldBranchDetail.oldBranchId);
        $('#namedelete').text('@Localizer["คุณต้องการลบ สาขา"] "' + oldBranchDetail.oldBranchName + '" @Localizer["หรือไม่?"]');
    }

    function fnDelete() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteBranch", "Merchant")",
            data: {
                branchid: $('#iddelete').val(),
            },
            success: function (message) {
                window.location.href = "@Url.Action("Branchs", "Merchant")";
            }, error: function (message) {
                alert(message.responseText);
            }
        });
    }

    function numberInput(input) {
        const inputValue = input.value;
        const isValid = /^\d{1,13}$/.test(inputValue); // ใช้ regular expression เพื่อตรวจสอบว่ามีเฉพาะตัวเลข 0-9
        if (!isValid) {
            $("#TaxBranchID").val("");
        }
    }

</script>







