@{
    // Layout = null;
    ViewData["Title"] = "Receipt";
}
@using MyMenu.JAM;
@using MyMenuMerchant.Controllers;
@model TranDetailModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="Receipt">
    <div class="container mb-5">
        <form id="form" onkeyup="GenerateTaxInvoice();">
            <div class="form-row">
                <div class="col-12 mb-2 ">
                    <div class="row ">
                        <div class="col-12 flex-header ">
                            <div class="header-group">
                                <a asp-controller="ReceiptHistory" asp-action="ReceiptInformation"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                                <h1 class="font-weight-bold menu-header">@Localizer["ใบกำกับภาษีแบบเต็มรูปแบบ"]</h1>
                            </div>

                            @if (ViewBag.role.ToString().ToLower() == "owner" || ViewBag.role.ToString().ToLower() == "admin" || ViewBag.role.ToString().ToLower() == "manager" || ViewBag.role.ToString().ToLower() == "invoice")
                            {
                                <button type="button" class="btn btn-print-receipt" onclick="PrintReceipt() "><img class="mr-2 img-size-print" src="/mymenumerchant/images/Print.png" />@Localizer["พิมพ์ใบกำกับภาษี"]</button>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <div class="header-card-display">
                                                <p class="text-h2-header">@Localizer["ตัวอย่างใบเสร็จรับเงิน"]</p>
                                                @if (ViewBag.page != "GenerateTaxInvoice")
                                                {
                                                    <p class="mb-0 font-weight-bold ">@Localizer["จำนวนการพิมพ์"] <span id="printCount"> @Model.PrintCounter</span>  </p>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12 flex-justify-center my-4">
                                            <div class="body-print">
                                                <div class="bg-print">
                                                    <div id="html-content-holder" class="container">
                                                        <div class="receipt">
                                                            @if (!string.IsNullOrEmpty(Model.LogoPath))
                                                            {
                                                                <div class="layout-text-center mt-3">
                                                                    <img class="align-self-center size-logo-merchant-show" src="@Model.LogoPath">
                                                                </div>
                                                            }
                                                            <div class="layout-text-center mt-4 mb-3">
                                                                <p class="mb-0 p-size">@Model.MerchantName</p>
                                                                <p class="mb-0 p-size">@Model.BranchName (@Model.TaxBranchID)</p>
                                                                <p class="mb-0 p-size">@Model.BranchAddress1</p>
                                                                @if (!string.IsNullOrEmpty(@Model.BranchAddress2))
                                                                {
                                                                    <p class="mb-0 p-size">@Model.BranchAddress2</p>
                                                                }
                                                                <p class="mb-0 p-size">Tel. @Model.BranchTel</p>
                                                            </div>

                                                            <div class="layout-text-center">
                                                                <p class="mb-0 p-weight p-size-16">@Localizer["ใบเสร็จรับเงิน / ใบกำกับภาษี"]</p>
                                                            </div>

                                                            <div class="border-sub-detail my-3">
                                                                <div class="lists-sub-detail">
                                                                    <p class="mb-0 p-size">@Model.TranNo</p>
                                                                    <p class="mb-0 p-size">@ReceiptHistoryController.Getonlydate(@Model.DateTran)</p>
                                                                </div>
                                                                <div class="lists-sub-detail">
                                                                    <p class="mb-0 p-size">Cashier :  @Model.SellerName</p>
                                                                    <p class="mb-0 p-size">@ReceiptHistoryController.Getonlytime(@Model.DateTran)</p>
                                                                </div>
                                                                <div class="mt-2">
                                                                    <p class="mb-0 p-size">TAX ID : @Model.CustomerTaxID</p>
                                                                    <p class="mb-0 p-size">@Model.CustomerName</p>
                                                                    @if (!string.IsNullOrEmpty(@Model.CustomerAddress1))
                                                                    {
                                                                        <p class="mb-0 p-size">@Model.CustomerAddress1</p>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(@Model.CustomerAddress2))
                                                                    {
                                                                        <p class="mb-0 p-size">@Model.CustomerAddress2</p>
                                                                    }
                                                                    <p class="mb-0 p-size">Tel. @Model.CustomerTel</p>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                @for (int i = 0; i < Model.TranDetailItemModels.Count; i++)
                                                                {
                                                                    <div class="layout-lists-menu mb-2">
                                                                        <div class="w-menu-30">
                                                                            <p class="mb-0 p-size">@Model.TranDetailItemModels[i].Quantity.ToString("###")</p>
                                                                        </div>
                                                                        <div class="w-menu-130">
                                                                            <p class="mb-0 p-size">@Model.TranDetailItemModels[i].ItemName</p>
                                                                            @for (int iii = 0; iii < Model.TranDetailItemModels[i].TranDetailItemOptionExtra.Count; iii++)
                                                                            {
                                                                                <p class="mb-0 p-size">@Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].OptionExtraDetailName (@TableController.ConvertToCurrency(Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].Price))</p>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(@Model.TranDetailItemModels[i].Comments))
                                                                            {
                                                                                <p class="mb-0 p-size">Note: @Model.TranDetailItemModels[i].Comments</p>
                                                                            }

                                                                        </div>
                                                                        <div class="w-menu-60">
                                                                            <p class="mb-0 p-size">
                                                                                @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].Price)
                                                                            </p>
                                                                        </div>
                                                                        <div class="w-menu-60">
                                                                            <p class="mb-0 p-size">
                                                                                @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].Amount)
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>

                                                            <div class="layout-sum-lists mb-2">
                                                                <p class="mb-0 p-size">@Localizer["จำนวนสินค้า"]    @Model.TranDetailItemModels.Count     @Localizer["รายการ"]</p>
                                                            </div>
                                                            <div class="my-2">
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size">@Localizer["รวมเงิน"]</p>
                                                                    <p class="mb-0 p-size">@TableController.ConvertToCurrency(@Model.SubTotalHaveVat + Model.SubTotalNoneVat)</p>
                                                                </div>

                                                                @if (Model.ServicechargeType == 'A')
                                                                {
                                                                    @if (Model.TranTradDiscounts.Count != 0)
                                                                    {
                                                                        @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                        {
                                                                            <div class="layout-flex-space-between">
                                                                                <p class="mb-0 p-size w-flex-p-135">@Localizer["ส่วนลด"] <small class="mb-0 p-size w-s-20 f-w-smalll">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                                <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    @if (Model.ServiceCharge != 0)
                                                                    {
                                                                        <div class="layout-flex-space-between">
                                                                            <p class="mb-0 p-size w-flex-p-135">@Localizer["ค่าบริการ"] <small class="mb-0 p-size w-s-20 f-w-smalll">@Model.FmlServiceCharge%</small></p>
                                                                            <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @if (Model.ServiceCharge != 0)
                                                                    {
                                                                        <div class="layout-flex-space-between">
                                                                            <p class="mb-0 p-size w-flex-p-135">@Localizer["ค่าบริการ"] <small class="mb-0 p-size w-s-20 f-w-smalll">@Model.FmlServiceCharge%</small></p>
                                                                            <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                        </div>
                                                                    }
                                                                    @if (Model.TranTradDiscounts.Count != 0)
                                                                    {
                                                                        @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                        {
                                                                            <div class="layout-flex-space-between">
                                                                                <p class="mb-0 p-size w-flex-p-135">@Localizer["ส่วนลด"] <small class="mb-0 p-size w-s-20 f-w-smalll">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                                <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }

                                                                <div class="layout-flex-space-between">
                                                                    @if (Model.TaxRate > 0)
                                                                    {
                                                                        <p class="mb-0 p-size w-flex-p-135">VAT @(Model.TranTaxType == 'I' ? "Include" : "Exclude") <small class="mb-0 p-size w-s-20 f-w-smalll">@Model.TaxRate?.ToString("0.##")%</small></p>
                                                                        <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.TotalVat)</p>
                                                                    }
                                                                </div>
                                                            </div>


                                                            <div class="layout-flex-space-between mb-0">
                                                                <p class="mb-0 p-size p-weight">@Localizer["ยอดสุทธิ"]</p>
                                                                <p class="mb-0 p-size p-weight">@TableController.ConvertToCurrency(Model.GrandTotal)</p>
                                                            </div>
                                                            <div class="mb-5">
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size">@Localizer["จ่าย"]</p>
                                                                    @{
                                                                        decimal amount = 0;
                                                                    }
                                                                    @for (int i = 0; i < Model.TranPayments.Count; i++)
                                                                    {
                                                                        if (Model.TranPayments[i].PaymentType == "CH")
                                                                        {
                                                                            amount += Model.TranPayments[i].ReceivedAmount;
                                                                        }
                                                                        else if (Model.TranPayments[i].PaymentType == "MYQR")
                                                                        {
                                                                            amount += Model.TranPayments[i].ReceivedAmount;
                                                                        }
                                                                        else
                                                                        {
                                                                            //เคสจ่ายเงินแบบอื่นที่ไม่ใช่เงินสด ในอนาคต
                                                                        }
                                                                    }
                                                                    <p class="mb-0 p-size">@TableController.ConvertToCurrency(amount)</p>
                                                                </div>
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size">@Localizer["ทอน"]</p>
                                                                    <p class="mb-0 p-size">@TableController.ConvertToCurrency(Model.Change)</p>
                                                                </div>
                                                            </div>
                                                            <div class="layout-text-center">
                                                                <div>
                                                                    @if (string.IsNullOrEmpty(Model.ReceiptTextFooter))
                                                                    {
                                                                        <p class="p-size">@Localizer["Thank you"]</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="p-size">@Model.ReceiptTextFooter</p>
                                                                    }
                                                                    <p class="p-size">@Localizer["Powered By SeniorSoft"]</p>
                                                                </div>
                                                            </div>
                                                            <div class="layout-text-center mb-4">
                                                                <div>
                                                                    @if (!string.IsNullOrEmpty(Model.TaxID))
                                                                    {
                                                                        <p class="mb-0 p-size">TAX ID : @Model.TaxID</p>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(Model.PosID))
                                                                    {
                                                                        <p class="mb-0 p-size">POS ID : @Model.PosID</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="col-12 mb-4 set-print-txt">
        <div class="col-12 mb-4 ">
        <div class="card border-0">
            <div class="card-body">
                <div class="container">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="col-12 flex-justify-center my-4">
                                <div class="body-print">
                                    <div class="bg-QR-80 bg-print" id="divprint80mm">
                                        <div class="container">
                                            <div class="receipt">
                                                @* เพื่มรูปร้านค้า *@
                                                <div class="layout-text-center mt-3">
                                                    <img class="align-self-center size-logo-merchant" id="imagelogo80" src="@Model.LogoPath">
                                                </div>

                                                <div class="layout-text-center mt-3 mb-2">
                                                    <p class="mb-0 p-size-print">@Model.MerchantName</p>
                                                    <p class="mb-0 p-size-print">@Model.BranchName (@Model.TaxBranchID)</p>
                                                    <p class="mb-0 p-size-print">@Model.BranchAddress1</p>
                                                    @if (!string.IsNullOrEmpty(Model.BranchAddress2))
                                                    {
                                                        <p class="mb-0 p-size-print p-addressmer" id="addressmer80">@Model.BranchAddress2</p>
                                                    }
                                                    @if (!string.IsNullOrEmpty(@Model.BranchTel))
                                                    {
                                                        <p class="mb-0 p-size-print" id="telmer80">Tel. @Model.BranchTel </p>
                                                    }
                                                </div>

                                                <div class="layout-text-center">
                                                    <p class="mb-0 p-weight p-size-print-receipt">@Localizer["ใบเสร็จรับเงิน / ใบกำกับภาษี"]</p>
                                                </div>

                                                <div class="color-br"></div>
                                                <div class="">
                                                    <div class="lists-sub-detail">
                                                        <p class="mb-0 p-size-print">@Model.TranNo</p>
                                                        <p class="mb-0 p-size-print">@ReceiptHistoryController.Getonlydate(@Model.DateTran)</p>
                                                    </div>
                                                    <div class="lists-sub-detail">
                                                        <p class="mb-0 p-size-print">Cashier :  @Model.SellerName</p>
                                                        <p class="mb-0 p-size-print">@ReceiptHistoryController.Getonlytime(@Model.DateTran)</p>
                                                    </div>

                                                    <div class="mt-2">
                                                        <p class="mb-0 p-size-print">TAX ID : @Model.CustomerTaxID</p>
                                                        <p class="mb-0 p-size-print">@Model.CustomerName</p>
                                                        @if (!string.IsNullOrEmpty(@Model.CustomerAddress1))
                                                        {
                                                            <p class="mb-0 p-size-print">@Model.CustomerAddress1</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(@Model.CustomerAddress2))
                                                        {
                                                            <p class="mb-0 p-size-print">@Model.CustomerAddress2</p>
                                                        }
                                                        <p class="mb-0 p-size-print">Tel. @Model.CustomerTel</p>
                                                    </div>

                                                    <div class="mt-1">
                                                    </div>
                                                </div>
                                                <div class="color-br"></div>
                                                <div class="">
                                                    @for (int i = 0; i < Model.TranDetailItemModels.Count; i++)
                                                    {
                                                        <div class="layout-lists-menu mb-2">
                                                            <div class="w-menu-30">
                                                                <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].Quantity.ToString("###")</p>
                                                            </div>
                                                            <div class="w-menu-185">
                                                                <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].ItemName</p>
                                                                @for (int iii = 0; iii < Model.TranDetailItemModels[i].TranDetailItemOptionExtra.Count; iii++)
                                                                {
                                                                    <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].OptionExtraDetailName (@TableController.ConvertToCurrency(Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].Price))</p>
                                                                }
                                                                @if (!string.IsNullOrEmpty(@Model.TranDetailItemModels[i].Comments))
                                                                {
                                                                    <p class="mb-0 p-size-print">Note: @Model.TranDetailItemModels[i].Comments</p>
                                                                }

                                                            </div>
                                                            <div class="w-menu-60">
                                                                <p class="mb-0 p-size-print">
                                                                    @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].Price)
                                                                </p>
                                                            </div>
                                                            <div class="w-menu-60">
                                                                <p class="mb-0 p-size-print">
                                                                    @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].Amount)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="color-br"></div>
                                                <div class="layout-sum-lists mb-0">
                                                </div>
                                                <div class="my-2">
                                                    <div class="layout-flex-space-between">
                                                        <p class="mb-0 p-size-print">@Localizer["จำนวนสินค้า"]    @Model.TranDetailItemModels.Count     @Localizer["รายการ"]</p>
                                                    </div>

                                                    <div class="my-2">
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["รวมเงิน"]</p>
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(@Model.SubTotalHaveVat + Model.SubTotalNoneVat)</p>
                                                        </div>

                                                        @if (Model.ServicechargeType == 'A')
                                                        {
                                                            @if (Model.TranTradDiscounts.Count != 0)
                                                            {
                                                                @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                {
                                                                    <div class="layout-flex-space-between">
                                                                        <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ส่วนลด"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                        <p class="mb-0 p-size-print">-@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                    </div>
                                                                }
                                                            }
                                                            @if (Model.ServiceCharge != 0)
                                                            {
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ค่าบริการ"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.FmlServiceCharge%</small></p>
                                                                    <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if (Model.ServiceCharge != 0)
                                                            {
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ค่าบริการ"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.FmlServiceCharge%</small></p>
                                                                    <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                </div>
                                                            }
                                                            @if (Model.TranTradDiscounts.Count != 0)
                                                            {
                                                                @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                {
                                                                    <div class="layout-flex-space-between">
                                                                        <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ส่วนลด"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                        <p class="mb-0 p-size-print">-@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                        <div class="layout-flex-space-between">
                                                            @if (Model.TaxRate > 0)
                                                            {
                                                                <p class="mb-0 p-size-print w-flex-p-185">
                                                                    VAT @(Model.TranTaxType == 'I' ? "Include" : "Exclude")
                                                                    <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">
                                                                        @Model.TaxRate?.ToString("0.##")%
                                                                    </small>
                                                                </p>
                                                                <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.TotalVat)</p>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="layout-flex-space-between mb-2">
                                                        <p class="mb-0 p-size-print p-weight">@Localizer["ยอดสุทธิ"]</p>
                                                        <p class="mb-0 p-size-print p-weight">@TableController.ConvertToCurrency(Model.GrandTotal)</p>
                                                    </div>
                                                    <div class="mb-5">
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["จ่าย"]</p>
                                                            @{
                                                                decimal amount80 = 0;
                                                            }
                                                            @for (int i = 0; i < Model.TranPayments.Count; i++)
                                                            {
                                                                if (Model.TranPayments[i].PaymentType == "CH")
                                                                {
                                                                    amount80 += Model.TranPayments[i].ReceivedAmount;
                                                                }
                                                                else if (Model.TranPayments[i].PaymentType == "MYQR")
                                                                {
                                                                    amount80 += Model.TranPayments[i].ReceivedAmount;
                                                                }
                                                                else
                                                                {
                                                                    //เคสจ่ายเงินแบบอื่นที่ไม่ใช่เงินสด ในอนาคต
                                                                }
                                                            }
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(amount80)</p>
                                                        </div>
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["ทอน"]</p>
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.Change)</p>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0 p-size-print" hidden>@Localizer["หมายเหตุ"] : </p> @* หมายเหตุ จะเป็นหมายเหตุของฝั่งร้านค้า ไม่ใช่หมายเหตุของ tran *@
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(Model.ReceiptTextFooter))
                                                            {
                                                                <p class="p-size-print mb-0" id="ReceiptFooter80">@Model.ReceiptTextFooter</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="p-size-print mb-0" id="ReceiptFooter80">***@Localizer["ขอขอบคุณที่ใช้บริการ"]***</p>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            <p class="p-size-print">Powered By SeniorSoft</p>
                                                        </div>
                                                    </div>
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(Model.TaxID))
                                                            {
                                                                <p class="p-size-print" id="txttaxid80" >TAX ID : @Model.TaxID</p>
                                                            }
                                                            @if (!string.IsNullOrEmpty(Model.PosID))
                                                            {
                                                                <p class="p-size-print" id="txtposid80" >POS ID : @Model.PosID</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-QR-58 bg-print" id="divprint58mm">
                                        <div class="container">
                                            <div class="receipt">
                                                @* เพื่มรูปร้านค้า *@
                                                <div class="layout-text-center mt-3">
                                                    <img class="align-self-center size-logo-merchant" id="imagelogo80" src="@Model.LogoPath">
                                                </div>

                                                <div class="layout-text-center mt-3 mb-2">
                                                    <p class="mb-0 p-size-print">@Model.MerchantName</p>
                                                    <p class="mb-0 p-size-print">@Model.BranchName (@Model.TaxBranchID)</p>
                                                    <p class="mb-0 p-size-print">@Model.BranchAddress1</p>
                                                    @if (!string.IsNullOrEmpty(Model.BranchAddress2))
                                                    {
                                                        <p class="mb-0 p-size-print p-addressmer" id="addressmer80">@Model.BranchAddress2</p>
                                                    }
                                                    @if (!string.IsNullOrEmpty(@Model.BranchTel))
                                                    {
                                                        <p class="mb-0 p-size-print" id="telmer80">Tel.@Model.BranchTel </p>
                                                    }
                                                </div>

                                                <div class="layout-text-center">
                                                        <p class="mb-0 p-weight p-size-print-receipt">@Localizer["ใบเสร็จรับเงิน / ใบกำกับภาษี"]</p>
                                                </div>

                                                <div class="color-br"></div>
                                                <div class="">
                                                    <div class="lists-sub-detail">
                                                        <p class="mb-0 p-size-print">@Model.TranNo</p>
                                                        <p class="mb-0 p-size-print">@ReceiptHistoryController.Getonlydate(@Model.DateTran)</p>
                                                    </div>
                                                    <div class="lists-sub-detail">
                                                        <p class="mb-0 p-size-print">Cashier :  @Model.SellerName</p>
                                                        <p class="mb-0 p-size-print">@ReceiptHistoryController.Getonlytime(@Model.DateTran)</p>
                                                    </div>

                                                    <div class="mt-2">
                                                        <p class="mb-0 p-size-print">TAX ID : @Model.CustomerTaxID</p>
                                                        <p class="mb-0 p-size-print">@Model.CustomerName</p>
                                                        @if (!string.IsNullOrEmpty(@Model.CustomerAddress1))
                                                        {
                                                            <p class="mb-0 p-size-print">@Model.CustomerAddress1</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(@Model.CustomerAddress2))
                                                        {
                                                            <p class="mb-0 p-size-print">@Model.CustomerAddress2</p>
                                                        }
                                                        <p class="mb-0 p-size-print">Tel. @Model.CustomerTel</p>
                                                    </div>

                                                    <div class="mt-1">
                                                    </div>
                                                </div>
                                                <div class="color-br"></div>
                                                <div class="">
                                                    @for (int i = 0; i < Model.TranDetailItemModels.Count; i++)
                                                    {
                                                        <div class="layout-lists-menu mb-2">
                                                            <div class="w-menu-30">
                                                                <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].Quantity.ToString("###")</p>
                                                            </div>
                                                            <div class="w-menu-230">
                                                                <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].ItemName</p>
                                                                @for (int iii = 0; iii < Model.TranDetailItemModels[i].TranDetailItemOptionExtra.Count; iii++)
                                                                {
                                                                    <p class="mb-0 p-size-print">@Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].OptionExtraDetailName @*(@TableController.ConvertToCurrency(Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].Price))*@</p>
                                                                }
                                                                @if (!string.IsNullOrEmpty(@Model.TranDetailItemModels[i].Comments))
                                                                {
                                                                    <p class="mb-0 p-size-print">Note: @Model.TranDetailItemModels[i].Comments</p>
                                                                }

                                                            </div>
                                                            <div class="w-menu-60">
                                                                <p class="mb-0 p-size-print">
                                                                    @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].Price * Model.TranDetailItemModels[i].Quantity)
                                                                </p>
                                                                @for (int iii = 0; iii < Model.TranDetailItemModels[i].TranDetailItemOptionExtra.Count; iii++)
                                                                {
                                                                    <p class="mb-0 p-size-print"> @TableController.ConvertToCurrency(Model.TranDetailItemModels[i].TranDetailItemOptionExtra[iii].Price * Model.TranDetailItemModels[i].Quantity) </p>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="color-br"></div>
                                                <div class="layout-sum-lists mb-0">
                                                </div>
                                                <div class="my-2">
                                                    <div class="layout-flex-space-between">
                                                        <p class="mb-0 p-size-print">@Localizer["จำนวนสินค้า"]    @Model.TranDetailItemModels.Count     @Localizer["รายการ"]</p>
                                                    </div>

                                                    <div class="my-2">
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["รวมเงิน"]</p>
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(@Model.SubTotalHaveVat + Model.SubTotalNoneVat)</p>
                                                        </div>

                                                        @if (Model.ServicechargeType == 'A')
                                                        {
                                                            @if (Model.TranTradDiscounts.Count != 0)
                                                            {
                                                                @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                {
                                                                    <div class="layout-flex-space-between">
                                                                        <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ส่วนลด"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                        <p class="mb-0 p-size-print">-@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                    </div>
                                                                }
                                                            }
                                                            @if (Model.ServiceCharge != 0)
                                                            {
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ค่าบริการ"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.FmlServiceCharge%</small></p>
                                                                    <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if (Model.ServiceCharge != 0)
                                                            {
                                                                <div class="layout-flex-space-between">
                                                                    <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ค่าบริการ"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.FmlServiceCharge%</small></p>
                                                                    <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.ServiceCharge)</p>
                                                                </div>
                                                            }
                                                            @if (Model.TranTradDiscounts.Count != 0)
                                                            {
                                                                @for (int i = 0; i < Model.TranTradDiscounts.Count; i++)
                                                                {
                                                                    <div class="layout-flex-space-between">
                                                                        <p class="mb-0 p-size-print w-flex-p-185">@Localizer["ส่วนลด"] <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">@Model.TranTradDiscounts[i].FmlDiscount</small></p>
                                                                        <p class="mb-0 p-size-print">-@TableController.ConvertToCurrency(Model.TranTradDiscounts[i].TradeDiscHaveVat + Model.TranTradDiscounts[i].TradeDiscNoneVat)</p>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                        <div class="layout-flex-space-between">
                                                            @if (Model.TaxRate > 0)
                                                            {
                                                                <p class="mb-0 p-size-print w-flex-p-185">
                                                                    VAT @(Model.TranTaxType == 'I' ? "Include" : "Exclude")
                                                                    <small class="mb-0 p-size-print w-s-20 f-w-smalll-print">
                                                                        @Model.TaxRate?.ToString("0.##")%
                                                                    </small>
                                                                </p>
                                                                <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.TotalVat)</p>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="layout-flex-space-between mb-2">
                                                        <p class="mb-0 p-size-print p-weight">@Localizer["ยอดสุทธิ"]</p>
                                                        <p class="mb-0 p-size-print p-weight">@TableController.ConvertToCurrency(Model.GrandTotal)</p>
                                                    </div>
                                                    <div class="mb-5">
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["จ่าย"]</p>

                                                            @for (int i = 0; i < Model.TranPayments.Count; i++)
                                                            {
                                                                if (Model.TranPayments[i].PaymentType == "CH")
                                                                {
                                                                    amount80 += Model.TranPayments[i].ReceivedAmount;
                                                                }
                                                                else if (Model.TranPayments[i].PaymentType == "MYQR")
                                                                {
                                                                    amount80 += Model.TranPayments[i].ReceivedAmount;
                                                                }
                                                                else
                                                                {
                                                                    //เคสจ่ายเงินแบบอื่นที่ไม่ใช่เงินสด ในอนาคต
                                                                }
                                                            }
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(amount80)</p>
                                                        </div>
                                                        <div class="layout-flex-space-between">
                                                            <p class="mb-0 p-size-print">@Localizer["ทอน"]</p>
                                                            <p class="mb-0 p-size-print">@TableController.ConvertToCurrency(Model.Change)</p>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0 p-size-print" hidden>@Localizer["หมายเหตุ"] : </p> @* หมายเหตุ จะเป็นหมายเหตุของฝั่งร้านค้า ไม่ใช่หมายเหตุของ tran *@
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(Model.ReceiptTextFooter))
                                                            {
                                                                <p class="p-size-print mb-0" id="ReceiptFooter80">@Model.ReceiptTextFooter</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="p-size-print mb-0" id="ReceiptFooter80">***@Localizer["ขอขอบคุณที่ใช้บริการ"]***</p>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            <p class="p-size-print">Powered By SeniorSoft</p>
                                                        </div>
                                                    </div>
                                                    <div class="layout-text-center mb-4">
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(Model.TaxID))
                                                            {
                                                                <p class="p-size-print">TAX ID : @Model.TaxID</p>
                                                            }
                                                            @if (!string.IsNullOrEmpty(Model.PosID))
                                                            {
                                                                <p class="p-size-print">POS ID : @Model.PosID</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    @*  Modal Post not Success Error*@
    <div class="modal fade" id="ModalPostnotSuccessError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body layout-model m-3 p-0 ">
                    <div class="modal-m-text">
                        <div class="row text-center mt-4 mb-4">
                            <h5 class="text-center mb-5 my-5 ">@Localizer["ไม่สามารถบันทึกจำนวนการพิมพ์ได้ กรุณาลองใหม่อีกครั้ง"]</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel" onclick="closemodel();">@Localizer["กลับ"]</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<style>
    body {
        text-align: left;
    }
</style>

<script>
    $(document).ready(function () {
    });


    function PrintReceipt() {
        var modelprintmanin = GetMainPrint();
        var div = "";
        if (modelprintmanin.papersize == 80) {
            div = document.getElementById("divprint80mm");
        } else {
            div = document.getElementById("divprint58mm");
        }
        html2canvas(div, {
            scale: 1,
            useCORS: true, //เพิ่มเพื่อให้สามารถแสดงรูปภาพได้
        }).then(canvas => {
            PrintwithCounter(canvas);
        });
    }

    function PrintCounter() {
        $.ajax({
            type: "PUT",
            url: "@Url.Action("PutPrintCounter", "ReceiptHistory")",
            data: {
                BranchID: '@Model.BranchID',
                Tranno: '@Model.TranNo',
            },
            success: function (message) {
                $('#printCount').text(message);
            }, error: function (message) {
                $('#ModalPostnotSuccessError').modal('show');
            }
        });
    }
</script>
