@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="TableManagementAdd">
    <div class="container mb-5">
        <form id="save" onkeyup="TableManagementAdd1();">
            <div class="form-row">
                <div class="col-12 mb-2 ">
                    <div class="row ">
                        <div class="col-12 header-group">
                            <a asp-controller="BranchManagement" asp-action="TableManagement"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                            <h1 class="font-weight-bold menu-header">@Localizer["เพิ่มโต๊ะ"]</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <div class="form-row">
                                    <div class="col-md-12 mb-2">
                                        <div class="form-group">
                                            <label class="font-weight-bold color-name-head" for="TableName">@Localizer["ชื่อโต๊ะ"]</label>
                                            <input type="text" class="form-control" id="TableName" name="FoodTableName" placeholder="@Localizer["ชื่อโต๊ะ"]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12  mb-2">
                    <div class="d-flex justify-content-end">
                        <div>
                            <button type="submit" class="btn-save" id="SaveProfile" disabled="disabled">@Localizer["บันทึก"]</button>
                        </div>
                    </div>
                </div>
            </div>

            @*  Modal Post not Success *@
            <div class="modal fade" id="ModalPostnotSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body layout-model m-3 p-0 ">
                            <div class="modal-m-text">
                                <div class="row text-center mt-4 mb-4">
                                    <h5 class="text-center mb-5 my-5 " id="namealert">@Localizer["ไม่สามารถเพิ่มโต๊ะได้ กรุณาลองใหม่อีกครั้ง"]</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel" onclick="closemodel();">@Localizer["กลับ"]</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

<script>

    function TableManagementAdd1() {
        var TableName = document.getElementById("TableName").value;
        if (TableName.value == "") {
            document.getElementById('SaveProfile').disabled = true;
        } else {
            document.getElementById('SaveProfile').disabled = false;
        }
    }

    
    $(document).ready(function () {

        $("#save").on("submit", function (e) {
            var dataString = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddTable", "BranchManagement")",
                data: dataString,
                success: function (message) {
                    window.location.href = "@Url.Action("TableManagement", "BranchManagement")";
                }, error: function (message) {
                    $('#ModalPostnotSuccess').modal('show');
                    if (message.responseText == 'Insert Table Error' || message.responseText == 'Insert QR Error') {
                        $('#namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถเพิ่มโต๊ะได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                    } else {
                        $('#namealert').text("ไม่สามารถบันทึกได้ กรุณาลองใหม่อีกครั้ง");
                    }
                }
            });
            e.preventDefault();
        });
    });
</script>

