@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="TableManagement">
    <div class="container">
        <div class="form-row">
            <div class="col-12  mb-4">
                <div class="row ">
                    <div class="col-12 header-group">
                        <a asp-controller="BranchManagement" asp-action="Index"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                        <h2 class="font-weight-bold menu-header">@Localizer["จัดการโต๊ะ"]</h2>
                        <ul class="breadcrumb ">
                            <li class="breadcrumb-item"><a class="color-a-breadcrumb" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item text-ellipsis-link-1"><a class="color-a-breadcrumb" asp-controller="BranchManagement" asp-action="Index">@Localizer["การจัดการสาขา"]</a></li>
                            <li class="breadcrumb-item active text-ellipsis" aria-current="page">@Localizer["จัดการโต๊ะ"]</li>
                        </ul>
                        @if (ViewBag.role.ToString().ToLower() == "owner" || ViewBag.role.ToString().ToLower() == "admin" || ViewBag.role.ToString().ToLower() == "manager")
                        {
                            <a class="breadcrumb-btn button-add text-center layout-add" asp-controller="BranchManagement" asp-action="TableManagementAdd" id="btnAddFoodtable"><img class="img-icon-add" src="/mymenumerchant/images/Add.png" /> @Localizer["เพิ่มรายการ"]</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2 search">
                <input class="form-control input-lg main-input" type="search" id="SearchTable" placeholder="@Localizer["ชื่อโต๊ะ"]" style="height: 45px;" autocomplete="off">
            </div>
            <div class="col-md-12 mb-2">
                <div class="card box-card border-0 rounded">
                    <div class="card-body ">
                        <div class="container">
                            <div class="form-row">
                                <label class="font-weight-bold font-size mb-0">@Localizer["รายการโต๊ะทั้งหมด"] <span class="size-small font-weight-bold ms-2"> @Localizer["จำนวนทั้งหมด"] <span class="size-small font-weight-bold ms-2" id="TableCount"></span> <span class="size-small font-weight-bold" style="margin-left: -2px;">/100</span></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <div class="table-responsive">
                                    <table class="table" id="TablesBranchs" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="size-th-number text-center">@Localizer["ลำดับ"]</th>
                                                <th scope="col" class="size-th-name">@Localizer["ชื่อโต๊ะ"]</th>
                                                <th scope="col" class="size-th-edit"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*ModalBranchsInfo*@
    <div class="modal fade bd-example-modal-lg" id="ModalBranchsInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <div class="d-flex flex-row mb-2">
                        <div class="pt-2 pl-0 pr-0"> <button type="button" class="btn-close header-modal" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true"><i class="size-i-back fa fa-angle-left"></i></span></button></div>
                        <div class="pt-1 pm-0 pl-3 pr-0"><h5 class="text-branch mb-0">@Localizer["แก้ไขโต๊ะ"]</h5></div>
                    </div>
                </div>
                <form id="save">
                    <div class="modal-body">
                        <div class="col-12 pt-2">
                            <div class="form-group">
                                <label class="font-weight-bold color-name-head" for="TableName">@Localizer["ชื่อโต๊ะ"]</label>
                                <input type="text" class="form-control" name="FoodTableNO" id="TableID" hidden>
                                <input type="text" class="form-control" name="FoodTableName" id="TableName" placeholder="@Localizer["ชื่อโต๊ะ"]">
                            </div>
                        </div>
                        <div class="col-md-12  mb-2">
                            <div class="d-flex justify-content-end">
                                <div>
                                    <button type="submit" class="btn-save" id="btnsaveeditfoodtable" disabled>@Localizer["บันทึก"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @*ModalBranchsDelete*@
    <div class="modal fade " id="ModalBranchsDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ">
                    <h5 class="text-center mb-5 my-5  text-h-delete" id="namedelete"></h5>
                    <div class=" d-flex justify-content-center mr-4 ml-4 mb-3">
                        <input id="iddelete" value="" hidden />
                        <button type="button" class="font-weight-bold btn  button-modal-delete" onclick="fnDelete()">@Localizer["ลบ"]</button>
                        <button type="button" class="font-weight-bold btn ms-5 button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   @*  Modal Post not Success *@
    <div class="modal fade" id="ModalPostnotSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body layout-model m-3 p-0 ">
                    <div class="modal-m-text">
                        <div class="row text-center mt-4 mb-4">
                            <h5 class="text-center mb-5 my-5 " id="namealert">@Localizer["ไม่สามารถลบ Option ได้ เนื่องจากมีการใช้งานอยู่"]</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel" onclick="closemodel();">@Localizer["กลับ"]</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    var _foodtableNameOld = "";
    var role;
    function sentdata(d) {
        var data = $('#TablesBranchs').DataTable().row(d).data();
        //console.log(data);
        $("#TableName").val(data.FoodTableName);
        $("#TableID").val(data.FoodTableNO);
        _foodtableNameOld = data.FoodTableName;
    }
    $(document).ready(function () {
        role = "@ViewBag.role";
        $(document).on('change', 'input', function () {
            var _foodtableName = $('#TableName').val();

            if (jQuery.isEmptyObject(_foodtableName)) {
                _foodtableName = data.FoodTableName;
            }

            if (_foodtableNameOld != _foodtableName) {
                document.getElementById('btnsaveeditfoodtable').disabled = false;
            } else {
                document.getElementById('btnsaveeditfoodtable').disabled = true;
            }
        });

        $("#save").on("submit", function (e) {
            var dataString = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "@Url.Action("EditTable", "BranchManagement")",
                data: dataString,
                success: function (message) {
                    window.location.href = "@Url.Action("TableManagement", "BranchManagement")";
                }, error: function (message) {
                    $('#ModalPostnotSuccess').modal('show');
                    $('#namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถบันทึกได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                }
            });
            e.preventDefault();
        });

        var table = $('#TablesBranchs').DataTable({
            ajax: {
                url: "@Url.Action("GetDatableTable", "BranchManagement")",
                dataSrc: ''

            },
            stateSave: false,
            columns: [
                { data: 'id' },
                { data: 'FoodTableName' },
                { data: 'FoodTableNO' },
            ],
            columnDefs: [{
                targets: [0],
                render: function (data, type, full, meta) {
                    var text0 = "<p class='p-padding-table text-center'>" + (meta.row + meta.settings._iDisplayStart + 1) + "</p>";
                    return text0;
                },
            }, {
                targets: [1],
                render: function (data, type, full, meta) {
                    var text1 = "<p class='p-padding-table'>" + data + "</p>";
                    return text1;
                },
            }, {
                targets: [2],
                render: function (data, type, full, meta) {
                    var text2 = "";
                    if (role.toLowerCase() == "owner" || role.toLowerCase() == "admin" || role.toLowerCase() == "manager") {
                        text2 += '<div class="group-btn-table "><button onclick="sentdata(' + meta.row + ')" type="button" class="btn btn-table btn-blue-edit mr-2" data-toggle="modal" data-target="#ModalBranchsInfo"><img class="size-img-list-menu" src= "/mymenumerchant/images/Edit20.png" /></button><button type= "button" class="btn btn-table btn-red-delete" data-toggle="modal" data-target="#ModalBranchsDelete" onclick="btnDelete(' + meta.row + ')"> <img class="size-img-list-menu" src="/mymenumerchant/images/Delete20.png" /> </button></div>';
                    }
                    return text2;
                },
            },
            ],
            "language": {
                "emptyTable": "<p class='colot-no-data mt-5 mb-0'>" + @Html.Raw(Json.Serialize(Localizer["ยังไม่มีโต๊ะ"].Value)) + "</p><br/><br/><br/><br/>",
                "zeroRecords": "<p class='colot-no-data mt-5 mb-5'>"+ @Html.Raw(Json.Serialize(Localizer["ไม่พบข้อมูล"].Value)) +"</p><br/><br/><br/><br/>",
                "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["Loading.."].Value))+ "</p><br/><br/><br/><br/>",
            },
            searching: true,
            paging: false,
            ordering: false,
            info: false,
            initComplete: function () {
                var count = table.data().count();
                $('#TableCount').text(count);

                var count = table.data().count();
                var btn = document.getElementById("btnAddFoodtable");
                if (btn == null || typeof btn == 'undefined') {
                    return;
                }

                if (count >= 100) {
                    btn.style.opacity = "0.5";
                    btn.style.pointerEvents = "none";
                    btn.style.cursor = "default";
                } else {
                    btn.style.opacity = "1";
                    btn.style.pointerEvents = "auto";
                    btn.style.cursor = "pointer";
                }
            }
        });
        var tables = $('#TablesBranchs').DataTable();
        $('#SearchTable').on('keyup', function () {
            tables.search(this.value).draw();
        });
    });
    function btnDelete(id) {
        var data = $('#TablesBranchs').DataTable().row(id).data();
        $('#iddelete').val(data.FoodTableNO);
        $('#namedelete').text(@Html.Raw(Json.Serialize(Localizer["คุณต้องการลบโต๊ะ"].Value))+ " "+'"' + data.FoodTableName +'"'+ " " + @Html.Raw(Json.Serialize(Localizer["หรือไม่?"].Value)));
    }

    function fnDelete() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteTable", "BranchManagement")",
            data: {
                id: $('#iddelete').val(),
            },
            success: function (message) {
                location.reload();
            }, error: function (message) {
                $('#ModalBranchsDelete').modal('hide');
                $('#ModalPostnotSuccess').modal('show');
                if (message.responseText == 'FoodTable can not delete') {
                    $('#namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถลบได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                } else if (message.responseText == 'FoodTable is use') {
                    $('#namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถลบได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                }
                else {
                    $('#namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถลบได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                }
            }
        });
    }
</script>