@using MyMenu.JAM;
 
@{
    ViewData["Title"] = "OrderRegister";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<PrinterModel>;
<body id="OrderRegister">
@*    <button id="addRow">Add new row</button>
    <button id="editRow">Add new row</button>*@
    <div class="container">
        <div class="form-row">
            <div class="col-12  mb-2">
                <div class="row ">
                    <div class="col-12 header-group">
                        <a asp-controller="Order" asp-action="Index"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                        <h2 class="font-weight-bold menu-header">@Localizer["ออเดอร์ตามจุดพิมพ์"]</h2>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card border-0">
                            <div class="card-body ">
                                <div class="container px-2">
                                    <div class="form-row">
                                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-2 search">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="SearchTable">@Localizer["ค้นหาออเดอร์"]</label>
                                                <input class="form-control input-lg main-input" type="search" id="SearchTable" placeholder="@Localizer["วันที่, ประเภทออเดอร์, จำนวนรายการ, ราคารวม, สถานะออเดอร์"]" style="height: 45px;" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-2 search">
                                            <div class="form-group">
                                                <label class="font-weight-bold">@Localizer["จุดพิมพ์"]</label>
                                                <select class="form-control form-select " id="selectgroup" onchange="fillter()">
                                                    <option value="All">@Localizer["จุดพิมพ์ทั้งหมด"]</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item.PrinterName">@item.PrinterName</option>
                                                    }
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-2">
                                            <div class="card">
                                                <div class="card-body ">
                                                    <div class="form-group mb-0">
                                                        <label class="font-weight-bold">@Localizer["ประเภทออเดอร์"]</label>
                                                        <div class="row">
                                                            <div class="col-6 col-md-4">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input checkbok-search" id="exampleCheck1" onchange="fillter()">
                                                                    <label class="form-check-label font-weight-bold">@Localizer["ทานที่ร้าน"]</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 col-md-4">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input checkbok-search" id="exampleCheck2" onchange="fillter()">
                                                                    <label class="form-check-label font-weight-bold">@Localizer["สั่งกลับบ้าน"]</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-group mb-0">
                                                        <label class="font-weight-bold">@Localizer["สถานะออเดอร์"]</label>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input checkbok-search" id="exampleCheck3" onchange="fillter()">
                                                                    <label class="form-check-label font-weight-bold">@Localizer["เสิร์ฟครบ"]</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input checkbok-search" id="exampleCheck4" onchange="fillter()">
                                                                    <label class="form-check-label font-weight-bold">@Localizer["รอเสิร์ฟ"]</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input checkbok-search" id="exampleCheck5" onchange="fillter()">
                                                                    <label class="form-check-label font-weight-bold">@Localizer["ยกเลิก"]</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5">
                <div class="card border-0 mb-5">
                    <div class="card-body pb-0 mb-0">
                        <div class="container">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="d-flex-head">
                                        <div class="p-0 layout-text-head"><label class="font-weight-bold mb-4 font-size">@Localizer["ออเดอร์ตามจุดพิมพ์"] <small class="size-small font-weight-bold layout-all ms-2 " id="count"> @Localizer["จำนวนทั้งหมด"] 0</small></label>  </div>
                                       @* <div class="ml-auto"><button type="button" class="btn btn-print"> <img class="size-print" src="/mymenumerchant/images/Print.png" /></button></div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 mb-0">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table " id="TableOrder" style="width:100%">
                                        <thead>
                                            <tr>
                                               @* <th scope="col" class="size-th-input"></th>*@
                                                <th scope="col" class="size-th-date">@Localizer["วันที่"]</th>
                                                <th scope="col" class="size-th-type">@Localizer["เมนู"]</th>
                                                <th scope="col" class="size-th-table">@Localizer["จำนวน"]</th>
                                                <th scope="col" class="size-th-number">@Localizer["ประเภทออเดอร์"]</th>
                                                <th scope="col" class="size-th-paynumber">@Localizer["ชื่อโต๊ะ"]</th>
                                                <th scope="col" class="size-th-paynumber">@Localizer["จุดพิมพ์"]</th>
                                                <th scope="col" class="size-th-status">@Localizer["สถานะเมนู"]</th>
                                                <th scope="col" class="size-th-input"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-12 mb-2">
                <div class="card border-0">
                    <div class="card-body ">
                        <div class="container">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="p-0 layout-text-head"><label class="font-weight-bold mb-4 font-size">รายการตัวเลือก <small class="size-small font-weight-bold layout-all ms-2 "> จำนวนทั้งหมด 3</small></label>  </div>
                                        <div class="ml-auto p-2 layout-btn-p"><button type="button" class="btn btn-refresh" id="ButtonRefresh"><i class="fa fa-refresh me-3"></i>รีเฟรช</button></div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="table-responsive">
                                        <table class="table" id="TableOrder" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ลำดับ</th>
                                                    <th scope="col" class="size-th-time">เวลา</th>
                                                    <th scope="col" class="size-th-type">ประเภทออเดอร์</th>
                                                    <th scope="col" class="size-th-table">เลขโต๊ะ</th>
                                                    <th scope="col" class="size-th-order">หมายเลขคำสั่งซื้อ</th>
                                                    <th scope="col" class="size-th-paynumber">ยอดชำระ</th>
                                                    <th scope="col" class="size-th-status">สถานะ</th>
                                                    <th scope="col" class="size-th-details">รายละเอียด</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>


        <div class="modal fade bd-example-modal-lg" id="ModalOrderDetails" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="flex-menu-header">
                            <button type="button" class="btn-close header-modal size-i-back" data-dismiss="modal" aria-label="Close" onclick="clickback()" ><span aria-hidden="true"><i class=" fa fa-angle-left"></i></span></button>
                            <h5 class="text-branch mb-0 p-0 ml-2">@Localizer["สถานะเมนู"]</h5>
                        </div>
                       
                    </div>
                    <div class="modal-body p-4">
                        <div class="card-body p-0 ">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-flex-head-menu">
                                        <div class="flex-head-menu">
                                            <p class="mr-2">@Localizer["เลือกสถานะ"] :</p>
                                            <p class="set-status-order" id="modaltype">ทานที่ร้าน</p>
                                        </div>
                                        <p class="" id="modaltime">16/05/2566 08:42:05</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="modal-flex-head-status">
                                        <p class="mr-2">@Localizer["สถานะปัจจุบัน"] :</p>
                                        <div id="modelstatus">

                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-12 py-2 mb-2 border-list-item">
                                    <div class="modal-flex-list-menu">
                                        <p class="mr-3">1x</p>
                                        <div class="">
                                            <p class="mb-0" id="modelnameitem">อเมริกาโน่</p>
                                            <div id="modelextra"><p class="mb-0 color-sublist" id="modelnameitem">+ช็อตกาแฟs</p></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 mb-4">
                                    <div class="modal-flex-status-order">
                                        <p class="mb-0">@Localizer["เลือกสถานะ"] :</p>
                                        <div class="flex-btn-status-order">
                                            <div class="form-check flex-btn-status-order-r p-0 col-6 mr-2">
                                                <input class="form-check-input status-order-radio" type="radio" name="RadiosOrder" id="RadiosOrderServed" hidden>
                                                <label class="form-check-label btn btn-order-served chack-radio" for="RadiosOrderServed">
                                                    <img class="set-img-order-served" src="/mymenumerchant/images/Order_Served.png" />@Localizer["เสิร์ฟครบ"]
                                                </label>
                                            </div>
                                            
                                            <input id="openOrdersID" val="" hidden />
                                            <input id="statuscheck" val="" hidden />
                                            <input id="ordersID" val="" hidden />
                                            <input id="orderDetailNo" val="" hidden />
                                            <div class="form-check flex-btn-status-order-l p-0 col-6 ml-2">
                                                <input class="form-check-input status-order-radio" type="radio" name="RadiosOrder" id="RadiosOrderCancel" hidden>
                                                <label class="form-check-label btn btn-order-cancel chack-radio" for="RadiosOrderCancel">
                                                    <img class="set-img-order-cancel mr-1" src="/mymenumerchant/images/Order_Cancel.png" />@Localizer["ยกเลิก"]
                                                </label>
                                            </div>
                                           @* <button type="button" class="btn btn-order-served mr-2"><img class="set-img-order-served" src="/images/Order_Served.png" />เสิร์ฟครบ</button>
                                            <button type="button" class="btn btn-order-cancel"><img class="set-img-order-cancel" src="/images/Order_Cancel.png" />ยกเลิก</button>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    @if (ViewBag.role.ToString().ToLower() == "owner" || ViewBag.role.ToString().ToLower() == "admin" || ViewBag.role.ToString().ToLower() == "manager" || ViewBag.role.ToString().ToLower() == "officer")
                                    {
                                        <div class="modal-flex-end">
                                            <button type="button" class="btn btn-modal-color" data-dismiss="modal" onclick="Changestatus()" id="btnsent" disabled>@Localizer["ตกลง"]</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ModalExtraDelete -->
        <div class="modal fade " id="ModalExtraDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body ">
                        <h5 class="text-center mb-5 my-5 ">@Localizer["ยืนยันการลบ คำสั่งซื้อ"]</h5>
                        <div class=" d-flex justify-content-center">
                            <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                            <button type="button" class="font-weight-bold btn ms-5 button-modal-delete">@Localizer["ตกลง"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalExtraCancel -->
        <div class="modal fade " id="ModalExtraCancel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body ">
                        <h5 class="text-center mb-5 my-5 ">@Localizer["ยืนยันการยกเลิก คำสั่งซื้อ"]</h5>
                        <div class=" d-flex justify-content-center">
                            <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                            <button type="button" class="font-weight-bold btn ms-5 button-modal-cancel">@Localizer["ตกลง"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalExtraSucceed -->
        <div class="modal fade " id="ModalExtraSucceed" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body ">
                        <h5 class="text-center mb-5 my-5 ">@Localizer["ยืนยันสำเร็จ คำสั่งซื้อ"]</h5>
                        <div class=" d-flex justify-content-center">
                            <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                            <button type="button" class="font-weight-bold btn ms-5 button-modal-succeed">@Localizer["ตกลง"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*    <br />
    <br />*@
    <footer class="footer-help">
        <div class="row footer-row-flex">
            <div class="col-2">
                <div class="img-padding">
                    <img class="img-help" src="/mymenumerchant/images/Help.png" />
                </div>
            </div>
            <div class="col-10">
                <p class="font-weight-bold color-header-help  p-margin ml-3">@Localizer["ระบบจะ"] <small class="font-weight-bold color-sub-help ">@Localizer["Clear Order ทุกๆ 24 ชั่วโมง"]</small> </p>

            </div>
        </div>
    </footer>

</body>
<script>
    const options = {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false, // ให้ใช้รูปแบบ 24 ชั่วโมง
    };
    function Changestatus(){
        var table = $('#TableOrder').DataTable();
        var statuschar = '';
        var isChecked = $("#RadiosOrderServed").prop('checked');
        if (isChecked) {
            statuschar ='S';
        }else{
            statuschar ='C'
        }
        
        var orderDetail =
        {
            openOrdersID: $('#openOrdersID').val(),
            ordersID: $('#ordersID').val(),
            orderDetailNo: $('#orderDetailNo').val(),
            status: statuschar
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditStatusOrderdetail", "Order")",
            data: orderDetail,
            success: function (message) {
                event.preventDefault();
                table.ajax.reload();
            }, error: function (message) {
                alert("ไม่สามารถเปลี่ยน สถานะได้");
            }
        });
    }
    function fillter() {
        var tables = $('#TableOrder').DataTable();
        var dinner = document.getElementById("exampleCheck1").checked;
        var take = document.getElementById("exampleCheck2").checked;
        var kob = document.getElementById("exampleCheck3").checked;
        var wait = document.getElementById("exampleCheck4").checked;
        var cancle = document.getElementById("exampleCheck5").checked;
        var select = document.getElementById("selectgroup");
        var text1 = '';
        var text2 = '';
        if (dinner) {
            if (text1 == '') {
                text1 = '@Localizer["ทานที่ร้าน"]'
            } else {
                text1 += '|@Localizer["ทานที่ร้าน"]'
            }
        }
        if (take) {
            if (text1 == '') {
                text1 = '@Localizer["สั่งกลับบ้าน"]'
            } else {
                text1 += '|@Localizer["สั่งกลับบ้าน"]'
            }

        }
        if (kob) {
            if (text2 == '') {
                text2 = '@Localizer["เสิร์ฟครบ"]'
            } else {
                text2 += '|@Localizer["เสิร์ฟครบ"]'
            }
        }
        if (wait) {
            if (text2 == '') {
                text2 = '@Localizer["รอเสิร์ฟ"]'
            } else {
                text2 += '|@Localizer["รอเสิร์ฟ"]'
            }
        }
        if (cancle) {
            if (text2 == '') {
                text2 = '@Localizer["ยกเลิก"]'
            } else {
                text2 += '|@Localizer["ยกเลิก"]'
            }
        }
        //tables.column(6).search(fill3).search(fill4).search(fill5).draw();
        if (select.value!="All") {
            tables.column(3).search(text1, true, false).column(6).search(text2, true, false).column(5).search(select.value, true, false).draw();
        }else{
            tables.column(3).search(text1, true, false).column(6).search(text2, true, false).draw();
        }

    }
    $(document).ready(function () {
        console.log("testtt");
        var table = $('#TableOrder').DataTable({
            ajax: {
                url: "@Url.Action("GetOrderPrinter", "Order")",
                dataSrc: ''
            },
            columns: [
                @*{ data: 'id' },*@
                { data: 'dateModified', },
                { data: { itemName: 'itemName' , optionExtra: 'optionExtra' } },
                { data: 'quantity' },
                { data: 'openOrdersType' },
                { data: 'foodTableName' },
                { data: 'printers'},
                { data: 'status'},
                { data: 'id'}
            ],
            columnDefs: [@*{
                targets: [0],
                render: function (data, type, full, meta) {
                    var numberdata = (meta.row + meta.settings._iDisplayStart + 1)

                    var text = '<input type="checkbox" class="form-check-input checkbok-search p-checkbox ml-table" data-id="' + meta.row + '" id="exampleCheck' + numberdata + '">';
                    return text;
                },
            },*@ {
                targets: [0],
                render: function (data, type, full, meta) {
                    const d = new Date(data);

                    //var text = '<p class="mb-0 p-padding-table">' + d.toLocaleString('th-TH', options);   /*.format() */ + '</p>';
                    var text = '<p class="mb-0 p-padding-table">' + formatDatefullOrder(d);    /*.format() */ + '</p>';
                    return text;
                },
            }, {
                targets: [1],
                render: function (data, type, full, meta) {
                    
                    var text = '<p class="mb-0 status-m-color p-padding-table pb-0">'+data.itemName+'</p>';
                    for (var i = 0; i < data.optionExtra.length; i++) {
                        text += '<p class="mb-0 sub-status-m-color ">+' + data.optionExtra[i].optionExtraDetailName + '</p>';
                    }
                    
                    return text;
                },
            }, {
                targets: [2],
                render: function (data, type, full, meta) {
                    var text = '<p class="mb-0 p-padding-table">' + data + '</p>';

                    return text;
                },
            }, {
                targets: [3],
                render: function (data, type, full, meta) {
                    var text = "";
                    if (data == "D") {
                        text = '<p class="mb-0 status-m-color p-padding-table">@Localizer["ทานที่ร้าน"]</p>';
                    } else {
                        text = '<p class="mb-0 status-b-color p-padding-table">@Localizer["สั่งกลับบ้าน"]</p>';
                    }
                    return text;
                },
            }, {
                targets: [4],
                render: function (data, type, full, meta) {
                    var text = "";
                    if(data == null || data == "null"){
                        data = "-";
                    }
                    text = '<p class="mb-0 p-padding-table">' + data + '</p>';
                    return text;
                },
            },{
                targets: [5],
                render: function (data, type, full, meta) {
                    var text = "";
                    //console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        if(i >0){
                         text += '<p class="mb-0">'+data[i].printerName+'</p>';
                        }else{
                         text += '<p class="mb-0 p-padding-table">'+data[i].printerName+'</p>';
                        }
                       
                    }
                    //    for (var i = 0; i < data.length; i++) {
                    //        if(data.length > 1){
                    //            if(i == 0){
                    //                text +=  data[i].printerName;
                    //            }else{
                    //                text +=  '<br/>'+data[i].printerName;
                    //            }
                    //        }else{
                    //         text +=  data[i].printerName ;
                    //        }
                    //    }
                    //text += '</p>'; 
                    return text;
                },
            },{
                targets: [6],
                render: function (data, type, full, meta) {
                    var text = "";
                    if (data == "C") {
                        text = '<p class="status-color-cancel mb-0 p-padding-table"><img class="order-size-table mr-2" src="/mymenumerchant/images/Order_Cancel.png"/>@Localizer["ยกเลิก"]</p>';
                    } else if (data == "W") {
                        text = '<p class="status-color-pending mb-0 p-padding-table"><img class="order-size-table mr-2" src="/mymenumerchant/images/Order_WaitServe.png"/>@Localizer["รอเสิร์ฟ"]</p>';
                    } else if (data == "S") {
                        text = '<p class="status-color-succeed mb-0 p-padding-table"><img class="order-size-table mr-2" src="/mymenumerchant/images/Order_Served.png"/>@Localizer["เสิร์ฟครบ"]</p>';
                    } else {
                        text = '<p class="mb-0 p-padding-table">' + data + '</p>';
                    }
                    return text;
                },
            },{
               targets: [7],
               render: function (data, type, full, meta) {
                    var text7 = "";
                        text7 = "<div class='group-btn-table'><a class='btn btn-table btn-green-info'  onclick='setdata(" + meta.row + ")' ><img class='size-img-list-menu' src='/mymenumerchant/images/Detail20.png' /></a></div>";

                    //text7 = "<a class='btn btn-size-details' data-toggle='modal' data-target='#ModalOrderDetails'> ดูรายละเอียดเมนู <i class='ms-2 fa fa-angle-right font-weight-bold'></i></a>";
                    return text7;
                },
            },
            ],
            "language": {
                "emptyTable": "<p class='colot-no-data mt-5 mb-5'>@Localizer["ยังไม่มีรายการ ออเดอร์ตามจุดพิมพ์"]</p><br/><br/><br/><br/>",
                "zeroRecords": "<p class='colot-no-data mt-5 mb-5'>@Localizer["ไม่พบข้อมูล"]</p><br/><br/><br/><br/>",
                "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>@Localizer["Loading.."]</p><br/><br/><br/><br/>",

            },
            searching: true,
            paging: false,
            ordering: false,
            info: false,
            "initComplete": function (settings, json) {
                $('#count').text("@Localizer["จำนวนทั้งหมด"]"+ " " + table.data().count());
            },
        });


        @*$('#TableOrder tbody').on('click', 'tr td:not(:nth-child(1))', function () {
            var tr = $(this).closest('tr');
            var value = $(tr).find('input:first').data('id');
            var data = $('#TableOrder').DataTable().row(value).data();
            var opentype = 'สั่งกลับบ้าน';
            if (data.openOrdersType=='D'){opentype = 'ทานที่ร้าน'}
            $('#modaltype').text(opentype);
            const d = new Date(data.dateModified + "Z");

            $('#modaltime').text(d.toLocaleString('th-TH', options));
            $('#RadiosOrderCancel').prop("checked", false);
            $('#RadiosOrderServed').prop("checked", false);

            $('#statuscheck').val(data.status);
            $('#openOrdersID').val(data.openOrdersID);
            $('#ordersID').val(data.ordersID);
            $('#orderDetailNo').val(data.orderDetailNo);
           
            var status = '';
            if (data.status == 'W') {
                status = '<p class="color-status-waitserve-order"><img class="img-size-order mr-2" src="/mymenumerchant/images/Order_Served_1.png"/>รอเสิร์ฟ</p>';

            } else if (data.status == 'S') {
                status = '<p class="color-status-served-order" > <img class="img-size-order mr-2" src = "/mymenumerchant/images/Order_Served.png" /> เสิร์ฟครบ </p>';
                $('#RadiosOrderServed').prop("checked", true);
            }else{
                status = '<p class="color-status-cancel-order"><img class="img-size-order mr-2" src="/mymenumerchant/images/Order_Cancel.png" />ยกเลิก</p>';
                $('#RadiosOrderCancel').prop("checked", true);
            }

            $('#modelstatus').html(status);
            $('#modelnameitem').text(data.itemName);
            var nameextra = '';
            for (var i = 0; i < data.optionExtra.length; i++) {
                nameextra += '<p class="mb-0 color-sublist"> +' + data.optionExtra[i].optionExtraDetailName + '</p>';
            }
            $('#modelextra').html(nameextra);

            $("#ModalOrderDetails").modal('show');
        });*@

        $('#RadiosOrderServed').on('click', function () {
            var val = $('#statuscheck').val();
            if (val=='S') {
                $('#btnsent').prop('disabled', true);
            }else {
                $('#btnsent').prop('disabled', false);
            }
        });
        $('#RadiosOrderCancel').on('click', function () {
            var val = $('#statuscheck').val();
            if (val == 'C') {
                $('#btnsent').prop('disabled', true);
            } else {
                $('#btnsent').prop('disabled', false);
            }
        });

        $('#addRow').on('click', function () {

            //var table = $('#TableOrder').DataTable();
            //table.row.add({
            //    "id": "10",
            //    "times": "08:40",
            //    "typeorders": "ทานที่ร้าน",
            //    "tablenumbers": "A1",
            //    "ordernumber": "2022100000210",
            //    "settles": "100.00",
            //    "statuss": "1",
            //    "id": "10"
            //}).draw();



        });

        $('#editRow').on('click', function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Print", "Order")",
                success: function (message) {

                }, error: function (message) {
                    alert(message.responseText);
                }

            });
        });

        var table2 = $('#TableListOrder').DataTable({
            ajax: '/mymenumerchant/data/OrdersList.txt',
            processing: false,
            serverSide: false,
            stateSave: false,
            columns: [
                { data: { name: 'name', namelist1: 'namelist1', namelist2: 'namelist2', namelist3: 'namelist3', namelist4: 'namelist4', namelist5: 'namelist5', pricelist1: 'pricelist1', pricelist2: 'pricelist2', pricelist3: 'pricelist3', pricelist4: 'pricelist4', pricelist5: 'pricelist5' } },
                { data: 'itemprice' },
                { data: 'number' },
                { data: 'totalprice' },
                { data: 'note' },

            ],
            columnDefs: [{
                targets: [0],
                render: function (data, type, full, meta) {

                    if (data.namelist1 == "undefined" || data.namelist1 == "" || data.namelist1 == null) {
                        data.namelist1 = "";
                    }
                    if (data.namelist2 == "undefined" || data.namelist2 == "" || data.namelist2 == null) {
                        data.namelist2 = "";
                    }
                    if (data.namelist3 == "undefined" || data.namelist3 == "" || data.namelist3 == null) {
                        data.namelist3 = "";
                    }
                    if (data.namelist4 == "undefined" || data.namelist4 == "" || data.namelist4 == null) {
                        data.namelist4 = "";
                    }
                    if (data.namelist5 == "undefined" || data.namelist5 == "" || data.namelist5 == null) {
                        data.namelist5 = "";
                    }

                    if (data.pricelist1 == "undefined" || data.pricelist1 == "" || data.pricelist1 == null) {
                        data.pricelist1 = "";
                    } else {
                        data.pricelist1 = "+" + data.pricelist1;
                    }
                    if (data.pricelist2 == "undefined" || data.pricelist2 == "" || data.pricelist2 == null) {
                        data.pricelist2 = "";
                    } else {
                        data.pricelist2 = "+" + data.pricelist2;
                    }
                    if (data.pricelist3 == "undefined" || data.pricelist3 == "" || data.pricelist3 == null) {
                        data.pricelist3 = "";
                    } else {
                        data.pricelist3 = "+" + data.pricelist3;
                    }
                    if (data.pricelist4 == "undefined" || data.pricelist4 == "" || data.pricelist4 == null) {
                        data.pricelist4 = "";
                    } else {
                        data.pricelist4 = "+" + data.pricelist4;
                    }
                    if (data.pricelist5 == "undefined" || data.pricelist5 == "" || data.pricelist5 == null) {
                        data.pricelist5 = "";
                    } else {
                        data.pricelist5 = "+" + data.pricelist5;
                    }
                    text0 = "<p class='text-listmenu'>" + data.name + "</p>" +
                        "<div class='layout-listmenu-test'>" +
                        "<p class='layout-listmenu'>" + data.namelist1 + "</p>" +
                        "<p class='layout-listnumber'>" + data.pricelist1 + "</p>" +
                        "</div>" +
                        "<div class='layout-listmenu-test'>" +
                        "<p class='layout-listmenu'>" + data.namelist2 + "</p>" +
                        "<p class='layout-listnumber'>" + data.pricelist2 + "</p>" +
                        "</div>" +
                        "<div class='layout-listmenu-test'>" +
                        "<p class='layout-listmenu'>" + data.namelist3 + "</p>" +
                        "<p class='layout-listnumber'>" + data.pricelist3 + "</p>" +
                        "</div>" +
                        "<div class='layout-listmenu-test'>" +
                        "<p class='layout-listmenu'>" + data.namelist4 + "</p>" +
                        "<p class='layout-listnumber'>" + data.pricelist4 + "</p>" +
                        "</div>" +
                        "<div class='layout-listmenu-test'>" +
                        "<p class='layout-listmenu'>" + data.namelist5 + "</p>" +
                        "<p class='layout-listnumber'>" + data.pricelist5 + "</p>" +
                        "</div>";
                    return text0;
                },
            }, {
                targets: [1],
                render: function (data, type, full, meta) {
                    var text1 = "";
                    text1 = "<p>" + data + "</p>";
                    return text1;
                },
            }, {
                targets: [2],
                render: function (data, type, full, meta) {
                    var text2 = "";
                    text2 = "<p>" + data + "</p>";

                    return text2;
                },
            }, {
                targets: [3],
                render: function (data, type, full, meta) {
                    var text3 = "";
                    text3 = "<p>" + data + "</p>";
                    return text3;
                },
            }, {
                targets: [4],
                render: function (data, type, full, meta) {
                    var text4 = "";
                    text4 = "<p>" + data + "</p>";
                    return text4;
                },
            },
            ],
            "language": {
                "emptyTable": "<p class='colot-no-data mt-5 mb-5'>@Localizer["ยังไม่มีรายการสั้งซื้อ"]</p><br/><br/><br/><br/>",
                "zeroRecords": "<p class='colot-no-data mt-5 mb-5'>@Localizer["ไม่พบข้อมูล"]</p><br/><br/><br/><br/>",
                "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>@Localizer["Loading.."]</p><br/><br/><br/><br/>",

            },
            searching: false,
            paging: false,
            ordering: false,
            info: false,
        });
        var tables = $('#TableOrder').DataTable();
        $('#SearchTable').on('keyup', function () {
            tables.search(this.value).draw();
        });
        $('#ButtonRefresh').on('click', function () {
            $('#TableOrder').DataTable().ajax.reload();
        });


        
    });
    var _role;
    function setdata(data) {
            _role = '@ViewBag.role';
            _role = _role.toLowerCase();
            var data = $('#TableOrder').DataTable().row(data).data();
            var opentype = '@Localizer["สั่งกลับบ้าน"]';
            if (data.openOrdersType == 'D') { opentype = '@Localizer["ทานที่ร้าน"]' }
            $('#modaltype').text(opentype);
            const d = new Date(data.dateModified + "Z");

            $('#modaltime').text(d.toLocaleString('th-TH', options));
            $('#RadiosOrderCancel').prop("checked", false);
            $('#RadiosOrderServed').prop("checked", false);

            $('#statuscheck').val(data.status);
            $('#openOrdersID').val(data.openOrdersID);
            $('#ordersID').val(data.ordersID);
            $('#orderDetailNo').val(data.orderDetailNo);

            var status = '';
            if (data.status == 'W') {
                status = '<p class="color-status-waitserve-order"><img class="img-size-order mr-2" src="/mymenumerchant/images/Order_Served_1.png"/>@Localizer["รอเสิร์ฟ"]</p>';

            } else if (data.status == 'S') {
                status = '<p class="color-status-served-order" > <img class="img-size-order mr-2" src = "/mymenumerchant/images/Order_Served.png" /> @Localizer["เสิร์ฟครบ"] </p>';
                $('#RadiosOrderServed').prop("checked", true);
            } else {
                status = '<p class="color-status-cancel-order"><img class="img-size-order mr-2" src="/mymenumerchant/images/Order_Cancel.png" />@Localizer["ยกเลิก"]</p>';
                $('#RadiosOrderCancel').prop("checked", true);
            }

            $('#modelstatus').html(status);
            $('#modelnameitem').text(data.itemName);
            var nameextra = '';
            for (var i = 0; i < data.optionExtra.length; i++) {
                nameextra += '<p class="mb-0 color-sublist"> +' + data.optionExtra[i].optionExtraDetailName + '</p>';
            }
            $('#modelextra').html(nameextra);

            $("#ModalOrderDetails").modal('show');
        if (_role == "editor" || _role == "invoice" || _role == "officer" || _role == "cashier") {
            if (_role != "officer") {
                $('#RadiosOrderServed').prop("disabled", true);
                $('#RadiosOrderCancel').prop("disabled", true);
            }
            
            
        }

    }
        //$('#TableListOrder tbody').on('td.list-data', function () {
        //    var tr = $(this).closest('tr');
        //    var row = table.row(tr);
        //    row.child(format(row.data())).show();
        //    tr.addClass('shown');
        //});

        function clickback(){
            $('#btnsent').prop("disabled", true);
        }
</script>
