@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "DetailsPrivacyPolicy";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/x-icon" href="/mymenumerchant/images/LogoMyMenu.png">
    <title>MyMenuMerchant</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMenuMerchant.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body id="DetailsPrivacyPolicy">
    <div class="header-logo">
        <img class="logo-otp" src="/mymenumerchant/images/LogomyMenuText.png" />
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="gruop-main">
                    <a class="mr-4" asp-controller="Login" asp-action="Index"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                    <h2 class="menu-header mb-0">@Localizer["นโยบายความเป็นส่วนตัว และข้อตกลงและเงื่อนไขการใช้บริการระบบ myMenu"]</h2>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="container">
                            <p class="my-3 text-left text-p-h">@Localizer["Privacy Policy"]</p>
                            <p class="my-3 text-center text-p-h">@Localizer["นโยบายความเป็นส่วนตัว"]</p>
                            <div class="text-p mb-0">
                                @Localizer["ข้อมูลผู้ใช้งานบริการ myMenu โดยบริษัท ซีเนียร์ซอฟท์ ดีเวลลอปเม้นท์ จำกัด 2991/23-24 อาคารซีเนียร์ซอฟท์ โครงการวิสุทธานี ถนนลาดพร้าว แขวงคลองจั่น เขตบางกะปิ กรุงเทพมหานคร 10240 จะถูกนำไปใช้ และเก็บรักษาเป็นความลับ โดยมีเงื่อนไขดังต่อไปนี้"]<br />
                                @Localizer["ความเป็นส่วนตัวของข้อมูลของท่านมีความสำคัญกับเรา ดังนั้นเราจึงได้พัฒนานโยบายความเป็นส่วนตัวของเรา เพื่อที่จะอธิบายถึงหัวข้อสำคัญต่างๆ แก่ท่าน ดังนี้"]<br />
                                <b>@Localizer["ข้อมูลที่เราเก็บรวบรวม"]</b><br />
                                <b>@Localizer["ร้านค้าที่ใช้งาน myMenu"]</b><br />
                                <ul class="mb-0">
                                    <li>@Localizer["ชื่อ-นามสกุล / ชื่อบริษัท-ร้านค้า / เลขประจำตัวผู้เสียภาษี / ที่อยู่ / เบอร์โทรศัพท์ / อีเมล / โลโก้ร้านค้า / ชื่อสาขา"]</li>
                                    <li>@Localizer["บันทึกข้อมูล จากการสมัครใช้งาน"]</li>
                                    <li>@Localizer["การเข้าถึงเว็บไซต์ และ เว็บคุ๊กกี้ ที่สามารถระบุ เบราว์เซอร์ หรือ บัญชีของท่าน (กรณีใช้งานระบบ myMerchant เพื่อจัดการ License การใช้งาน)"]</li>
                                    <li>@Localizer["ข้อมูลของอุปกรณ์ที่เข้าใช้งานได้แก่ Device Model, operating system version, mobile network, Internet Protocol (IP)address และ Location"]</li>
                                    <li>@Localizer["ข้อมูลส่วนบุคคลอื่นๆที่ท่านได้ให้ไว้แก่บริษัท"]</li>
                                </ul>
                                <b class="mt-1">@Localizer["ผู้ใช้บริการที่สมัครเป็นสมาชิก หรือยินยอมให้ข้อมูลแก่ร้านค้าที่ใช้งาน myMenu"]</b>
                                <ul class="mb-0">
                                    <li>@Localizer["ชื่อ-นามสกุล / เลขประจำตัวผู้เสียภาษี / หมายเลขบัตรประชาชน / ที่อยู่ / เบอร์โทรศัพท์ / อีเมล / วันเกิด / เพศ / รูปถ่าย"]</li>
                                    <li>@Localizer["ข้อมูลการติดต่อทางสื่อสังคมออนไลน์ (เช่น LINE ID, Facebook ID)"]</li>
                                    <li>@Localizer["ข้อมูลส่วนบุคคลอื่นๆที่ลูกค้าของร้านค้า ยินยอมให้ข้อมูลแก่ร้านค้าที่ใช้งาน myMenu"]</li>
                                </ul>
                                <b class="mt-1">@Localizer["วิธีการนำข้อมูลของท่านไปใช้งาน"]</b>
                                <ul class="mb-0">
                                    <li>@Localizer["เพื่อแจ้งข่าวสารเกี่ยวกับสินค้า / บริการใหม่ รวมถึงการจัดงานอีเว้นท์ และการจัดฝึกอบรมต่าง ๆ (ซึ่งท่านสามารถเลือกที่จะไม่รับข่าวสารดังกล่าวได้)"]</li>
                                    <li>@Localizer["เพื่อพัฒนา / ปรับปรุง สินค้าและบริการของเรา"]</li>
                                    <li>@Localizer["เพื่อให้คำแนะนำเกี่ยวกับการให้บริการ รวมถึงข้อมูลการทำโฆษณาจากบริษัทคู่ค้าทางธุรกิจของเรา"]</li>
                                    <li>@Localizer["เพื่อยืนยันการแสดงตัวตน ก่อนการให้บริการแก่ท่าน"]</li>
                                    <li>@Localizer["สำหรับการประมวลข้อมูลภายในองค์กร และการทำวิจัยอื่นๆ"]</li>
                                </ul>
                                @Localizer["หากท่านไม่ให้ข้อมูลส่วนบุคคลของท่านแก่บริษัทฯ อาจทำให้บริษัทฯ ไม่สามารถให้บริการแก่ท่านได้ในบางกรณี"]<br />
                                <b class="mt-1">@Localizer["การเปิดเผยข้อมูลแก่บุคคลที่สาม"]</b><br />
                                @Localizer["เราไม่มีการให้ข้อมูลของท่านแก่ บริษัท องค์กร และ บุคคล อื่น ๆ ภายนอกบริษัท ยกเว้นในกรณีต่าง ๆ ดังต่อไปนี้"]<br />
                                <ul class="mb-0">
                                    <li>@Localizer["ได้รับการอนุญาตจากท่าน"]</li>
                                    <li>@Localizer["สำหรับการประมวลผลภายนอก และ บริษัทคู่ค้าทางธุรกิจซึ่งให้บริการแก่ท่าน"]</li>
                                    <li>@Localizer["สำหรับเหตุผลทางกฎหมาย"]</li>
                                </ul>
                                <b class="mt-1">@Localizer["วิธีการเก็บรักษาข้อมูล"]</b><br />
                                @Localizer["เรามีระบบปกป้องข้อมูลของท่าน จากการถูกใช้โดยไม่ได้รับอนุญาต การดัดแปลง และการถูกทำลาย ด้วยวิธีการป้องกัน ดังนี้"]
                                <ul class="mb-0">
                                    <li>@Localizer["มีระบบป้องกันการเข้าถึงข้อมูลโดยไม่ได้รับอนุญาตจากบุคคลภายนอก"]</li>
                                    <li>@Localizer["การเข้ารหัสข้อมูลสำคัญขณะรับ-ส่งข้อมูลด้วย SSL (สำหรับ Browser กรณีใช้งาน myMerchant)"]</li>
                                    <li>@Localizer["การเข้ารหัสข้อมูลสำคัญขณะรับ-ส่งข้อมูลด้วย XXX (สำหรับ Application)"]</li>
                                </ul>
                                <b class="mt-1">@Localizer["การเปลี่ยนแปลง"]</b><br />
                                @Localizer["วัตถุประสงค์ของนโยบายความเป็นส่วนตัวของเรา คือ การปกป้องรักษาข้อมูลส่วนตัวของท่าน อย่างไรก็ตามเราขอสงวนสิทธิ์ในการเปลี่ยนแปลงนโยบายความเป็นส่วนตัวของเรา โดยไม่มีการแจ้งล่วงหน้า"]<br />
                                @Localizer["ในกรณีที่ข้อมูลส่วนบุคคล หรือข้อมูลที่เกี่ยวข้องของผู้ใช้งานถูกจารกรรมทางคอมพิวเตอร์ (Hack) สูญหาย หรือเสียหายซึ่งมิใช่ความผิดของบริษัท บริษัทขอสงวนสิทธิ์ที่จะปฏิเสธความรับผิดใดๆอันเป็นผลมาจากการดังกล่าว"]<br />
                                <b class="mt-1">@Localizer["สอบถามข้อมูล"]</b><br />
                                @Localizer["ท่านสามารถติดต่อเรา เพื่อสอบถาม หรือเปลี่ยนแปลงแก้ไขข้อมูล ได้ที่ info@seniorsoft.co.th"]<br />
                            </div>
                            <p class="my-3 text-left text-p-h">@Localizer["Terms of Service"]</p>
                            <p class="my-3 text-center text-p-h">@Localizer["ข้อตกลงและเงื่อนไขการใช้บริการระบบ myMenu"] <br />@Localizer["(myMenu Terms and Conditions)"]</p>
                            <div class="text-p pb-4">
                                @Localizer["myMenu คือระบบสั่งอาหารด้วย QR Code พร้อมมีระบบจัดการข้อมูลร้านอาหาร ที่ให้บริการโดย บริษัท ซีเนียร์ซอฟท์ ดีเวลลอปเม้นท์ จำกัด 2991/23-24 อาคารซีเนียร์ซอฟท์ โครงการวิสุทธานี ถนนลาดพร้าว แขวงคลองจั่น เขตบางกะปิ กรุงเทพมหานคร 10240 ซึ่งต่อไปนี้เรียกว่า “บริษัท”"]<br />
                                @Localizer["ผู้ใช้สามารถสมัครใช้บริการระบบ myMenu เพื่อเริ่มต้นบริหารจัดการร้านอาหารของตน รวมถึงข้อมูลรายการอาหาร และบริหารจัดการโต๊ะและออกบิลใบเสร็จรับเงิน"]<br />
                                @Localizer["เมื่อผู้ใช้บริการของบริษัท (“ผู้ใช้บริการ”) ได้เข้าถึง และ/หรือ เข้าสู่แอพพลิเคชั่น myMenu เพื่อใช้บริการ บริษัทจะถือว่า ผู้ใช้บริการได้ให้คำยืนยันและรับรองต่อบริษัทว่า ผู้ใช้บริการได้เข้าถึง ตรวจสอบ ศึกษา และ/หรือ รับทราบ รายละเอียดต่าง ๆ ของเงื่อนไขในการใช้บริการก่อนการเข้าใช้บริการ พร้อมทั้งผู้ใช้บริการยังได้ตกลง ยินยอม และ จะปฏิบัติตามเงื่อนไขในการใช้บริการต่าง ๆ (รวมถึง เงื่อนไขในการใช้บริการที่บริษัทอาจจะได้มีการปรับปรุงและแก้ไขเพิ่มเติมต่อไปในอนาคต) อย่างเคร่งครัด"]<br />
                                @Localizer["ผู้ใช้บริการรับทราบและจะปฏิบัติตามเงื่อนไขในการใช้บริการที่มีรายละเอียดดังต่อไปนี้"]<br />
                                <b>@Localizer["1. ผู้ใช้บริการ"]</b><br />
                                @Localizer["1.1 ผู้ใช้บริการรับทราบและจะปฏิบัติตามเงื่อนไขดังต่อไปนี้"]<br />
                                <ul class="mb-0">
                                    <li>@Localizer["ผู้ใช้บริการ หมายถึง ห้างร้าน องค์กรต่างๆ นิติบุคคล หรือบุคคล ที่สมัคร และ/หรือ เปิดใช้ระบบ สำหรับร้านค้า ร้านอาหาร หรือธุรกิจของตน"]</li>
                                    <li>@Localizer["ร้านค้าที่สมัครใช้งาน myMenu จะต้องเป็น นิติบุคคลหรือองค์กรที่ถูกต้องตามกฎหมาย โดย ผู้ติดต่อ และ/หรือ เข้าทำสัญญาใดๆกับ บริษัท เพื่อใช้บริการต่างๆ เป็นผู้มีอำนาจผูกพัน และ/หรือ ได้รับการมอบอำนาจให้กระทำการแทนนิติบุคคลหรือองค์กรดังกล่าวอย่างสมบูรณ์"]</li>
                                    <li>@Localizer["บริษัทสงวนสิทธิ์ที่จะอนุมัติการให้บริการ เฉพาะ ธุรกิจที่ไม่ขัดต่อกฎหมาย, ศีลธรรมและวัฒนธรรมของประเทศที่นำบริการนี้ไปใช้ รวมทั้งต้องสามารถยืนยันตัวตนของธุรกิจนั้นได้"]</li>
                                    <li>@Localizer["ธุรกิจที่ใช้บริการ ต้องไม่นำบริการ myMenu ไปใช้อย่างไม่ถูกต้อง สร้างความรำคาญ ความเสียหายต่อผู้อื่น และขัดต่อกฎหมายของประเทศไทย"]</li>
                                </ul>
                                @Localizer["1.2 การให้คำยืนยันและคำรับรองต่อการใช้บริการ myMenu"]<br />
                                @Localizer["ผู้ใช้บริการขอให้คำยืนยันและคำรับรองต่อ บริษัท ดังต่อไปนี้"]<br />
                                <ul class="mb-0">
                                    <li>@Localizer["ผู้ใช้บริการเป็นผู้ที่มีความรับผิดชอบที่ดีต่อสังคม และ ในการใช้บริการ ผู้ใช้บริการจะไม่สร้างความเสียหายเดือดร้อนหรือละเมิดสิทธิ์อื่นใดแก่บุคคลอื่นใด"]</li>
                                    <li>@Localizer["เพื่อใช้บริการ ผู้ใช้บริการจะให้และ จะเปิดเผยข้อมูลต่างๆ ของผู้ใช้บริการให้ครบถ้วน ถูกต้องและ เป็นปัจจุบัน และผู้ใช้บริการจะจัดให้มีอีเมล และ/หรือ ช่องทางการสื่อสารทางระบบอินเทอร์เน็ตอย่างอื่น เพื่อการรับข้อมูลข่าวสารต่างๆ และ เป็นช่องทางติดต่อกับบริษัท อนึ่ง ในกรณีที่ข้อมูลต่างๆ ที่ผู้ใช้บริการได้ให้ และ/หรือ เปิดเผย แก่บริษัทได้เปลี่ยนแปลงไป ผู้ใช้บริการมีหน้าที่และตกลงจะแก้ไขข้อมูลต่างๆ ดังกล่าวให้เป็นปัจจุบันอยู่เสมอ ซึ่งผู้ใช้บริการสามารถแก้ไขข้อมูลดังกล่าวผ่านทางระบบหรือช่องทางที่บริษัทได้จัดสร้างขึ้น ในกรณีที่บริษัทจัดให้มีระบบการจัดการให้แก้ไขข้อมูล หรือผู้ใช้บริการจะแจ้งการแก้ไขข้อมูลดังกล่าวไปยังเจ้าหน้าที่ของบริษัทที่ให้บริการแก่ผู้ใช้บริการ"]</li>
                                    <li>@Localizer["ผู้ใช้บริการได้ศึกษาและเข้าใจในคุณลักษณะ ข้อจำกัด และเงื่อนไขต่างๆ ของบริการ ที่บริษัทได้จัดแสดงใน myMenu Application และผู้ใช้บริการได้ตัดสินใจใช้บริการด้วยคุณลักษณะ ข้อจำกัด และเงื่อนไขต่าง ๆ ที่มีอยู่นี้ และยอมรับการเปลี่ยนแปลงคุณลักษณะ ข้อจำกัด และเงื่อนไขต่าง ๆ ที่จะมีในอนาคตซึ่งอาจจะมีผลทำให้ผู้ใช้บริการได้ใช้บริการที่แตกต่างจากที่เคยได้ใช้บริการมาก่อน เช่น การใช้บริการผ่านการทำงานในรูปแบบ หรือ Feature ที่แตกต่างไปจากเดิม"]</li>
                                    <li>@Localizer["ผู้ใช้บริการเป็นผู้ตัดสินใจเลือกใช้บริการด้วยตัวเอง และ ในกรณีที่การใช้บริการของผู้ใช้บริการที่เป็นนิติบุคคลหรือองค์กรใดๆ บริษัทจะถือว่า ผู้ใช้บริการเป็นผู้รับผิดชอบต่อการตัดสินใจเลือกใช้บริการเอง หากมีปัญหาเกิดขึ้นระหว่างผู้ใช้บริการกับผู้ติดต่อหรือตัวแทนของผู้ใช้บริการ ผู้ใช้บริการรับทราบว่า บริษัทไม่มีหน้าที่ใดๆในการดำเนินการแก้ไขปัญหาดังกล่าวของผู้ใช้บริการ"]</li>
                                    <li>@Localizer["เมื่อได้รับการร้องขอจากบริษัท ผู้ใช้บริการจะส่งมอบเอกสาร และ/หรือ หลักฐานใดๆ ที่จำเป็น เพื่อแสดงว่าผู้ใช้บริการมีความสามารถ และ/หรือ อำนาจในการใช้บริการที่ผู้ใช้บริการได้เลือกใช้บริการ เช่น บัตรประชาชน ทะเบียนบ้าน หนังสือรับรองของบริษัท เป็นต้น รวมถึง ผู้ใช้บริการจะลงนามในเอกสารใดๆ เพื่อรับทราบและตกลงยินยอมผูกพันตามข้อตกลงและเงื่อนไขในการใช้บริการของผู้ใช้บริการ ตามที่บริษัทพิจารณาเห็นสมควรและได้ร้องขอให้ดำเนินการ"]</li>
                                </ul>
                                <b>@Localizer["2. การใช้บริการ"]</b><br />
                                <ul class="mb-0">
                                    <li>@Localizer["บริษัท จะไม่รับผิดชอบต่อความสูญเสีย และ/หรือ ความเสียหายไม่ว่าในลักษณะใดที่เป็นผล และ/หรือ อาจจะเป็นผลมาจากการใช้บริการ ของผู้ใช้บริการ (ทั้งนี้ไม่ว่าทางตรงหรือทางอ้อม)"]</li>
                                    <li>@Localizer["บริษัท ได้จัดให้มีข้อกำหนดด้านนโยบายความเป็นส่วนตัว (Privacy Policy) (รวมถึงที่จะได้มีการแก้ไขในอนาคต) ผู้ใช้บริการควรศึกษา ทำความเข้าใจ และ รับทราบรายละเอียดต่าง ๆ ของข้อกำหนดดังกล่าวก่อนการใช้บริการของผู้ใช้บริการ ซึ่งผู้ใช้บริการสามารถเข้าถึง ศึกษา ตรวจสอบ และ จัดพิมพ์ ข้อกำหนดด้านนโยบายความเป็นส่วนตัว (Privacy Policy) ได้ที่ลิงก์ Privacy Policy ใน myMenu Application"]</li>
                                    <li>@Localizer["บริษัท จะใช้ความพยายามอย่างเต็มที่ในการให้บริการแก่ผู้ใช้บริการอย่างไรก็ตาม บริษัท ไม่สามารถรับรองผลลัพธ์ หรือ ผลสำเร็จใด (ไม่ว่าทางธุรกิจ กำไร หรือ อย่างอื่นใด) ที่ผู้ใช้บริการมุ่งหวังหรือประสงค์ที่จะได้รับจากการใช้บริการที่ผู้ใช้บริการได้เลือกใช้บริการ และบริษัทจะไม่รับผิดชอบต่อความสูญเสีย และ/หรือ ความเสียหายใดๆ ที่มีหรืออาจจะเกิดขึ้นไม่ว่าในกรณีใดๆ"]</li>
                                    <li>@Localizer["ไม่ว่าระหว่าง หรือ ภายหลังระยะเวลา การใช้บริการของผู้ใช้บริการ ผู้ใช้บริการขอยืนยันต่อ บริษัท ว่า ผู้ใช้บริการจะไม่ให้ข้อมูล และ/หรือ แสดงความคิดเห็นใดๆ ในที่สาธารณะ หรือ ในระบบหรือรูปแบบที่ทำให้ข้อมูลสามารถถูกเข้าถึงได้ในวงกว้าง (รวมถึง สื่อสารมวลชน สื่อออนไลน์ และ/หรือ โซเชียลมีเดีย)ที่อาจจะทำให้เกิดความเสียหาย หรือ เสื่อมเสียต่อ บริษัท (ไม่ว่าในรูปแบบใดๆ) อย่างไรก็ตาม บริษัท ยินดีน้อมรับคำติชมและคำแนะนำต่างๆ จากผู้ใช้บริการเพื่อนำมาปรับปรุงการให้บริการของ บริษัท ต่อไป ซึ่งผู้ใช้บริการสามารถส่งคำติชมและคำแนะนำต่างๆให้แก่ บริษัท มาได้ที่ info@seniorsoft.co.th"]</li>
                                    <li>@Localizer["ไม่ว่าระหว่างหรือ ภายหลังระยะเวลาการใช้บริการของผู้ใช้บริการหากมีปัญหา และ/หรือ ข้อพิพาทใดๆ เกิดขึ้นระหว่างผู้ใช้บริการกับลูกค้าของผู้ใช้บริการ และ/หรือ บุคคลอื่นใดก็ตาม ที่เป็นผลมาจากการใช้บริการของผู้ใช้บริการ ผู้ใช้บริการรับทราบและ จะรับผิดชอบในการดำเนินการใดๆ กับปัญหาดังกล่าวเอง บริษัท ไม่มีหน้าที่ และ/หรือ ความรับผิดชอบในการดำเนินการกับปัญหา และ/หรือ ข้อพิพาทดังกล่าวอนึ่ง ในกรณีที่ บริษัท ต้องเสียหาย (ไม่ว่าในรูปแบบใดๆ อันเป็นผลมาจากการดำเนินการใดๆ เกี่ยวกับปัญหาดังกล่าว ผู้ใช้บริการตกลงที่จะดำเนินการแก้ไขความเสียหายดังกล่าวให้หมดสิ้นไป และ/หรือ ชดเชยค่าเสียหายใดๆ ที่มีหรืออาจจะมีขึ้นแก่บริษัท รวมถึงกรรมการ ผู้บริหาร เจ้าหน้าที่ และ ตัวแทน ของ บริษัท"]</li>
                                    <li>@Localizer["รูปภาพ รูปแบบ ข้อความ ข้อมูล ความเห็น และ/หรือ เนื้อหาต่างๆ ที่ผู้ใช้บริการนำมาใช้ (รวมถึง รูปภาพ รูปแบบ ข้อความ ข้อมูล ความเห็น และ/หรือ เนื้อหาต่างๆ ที่มีผู้แสดงออก และ/หรือ โพสไว้ในพื้นที่แสดงข้อมูลธุรกิจของผู้ใช้บริการ) ไม่ว่าในการใช้บริการใดๆ ของผู้ใช้บริการ เช่น ใน เว็บไซต์หรือในเนื้อหาโฆษณานั้น จะถือเป็นความรับผิดชอบของผู้ใช้บริการแต่เพียงผู้เดียว บริษัท ไม่มีหน้าที่ตรวจสอบ และ/หรือ คัดกรอง รูปภาพ รูปแบบ ข้อมูล และ เนื้อหาต่างๆ ดังกล่าว และ บริษัท จะไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้นเนื่องจากการใช้งาน การรุกล้ำสิทธิ์ส่วนบุคคล หรือปัญหาต่างๆ ที่เกิดขึ้นระหว่างผู้ใช้บริการกับบุคคลอื่นอีกทั้ง ผู้ใช้บริการจะต้องไม่นำมาใช้ และ/หรือ ยินยอมให้ใช้ รูปภาพ รูปแบบ ข้อความ ข้อมูล ความเห็น และ/หรือ เนื้อหาที่ผิดหรือ อาจจะผิดกฎหมาย และ/หรือ ศีลธรรมของสังคม ไม่ว่าในกรณีใดๆ ในกรณีที่ บริษัท พบว่า ผู้ใช้บริการไม่ได้ดำเนินการให้เป็นไปตามเงื่อนไขดังกล่าว บริษัท ขอสงวนสิทธิ์ในการลบรูปภาพ รูปแบบ ข้อความ ข้อมูล ความเห็น และ/หรือ เนื้อหา เหล่านั้น หรือยกเลิกการใช้บริการใดๆ ของผู้ใช้บริการที่ก่อหรือ อาจจะก่อให้เกิดปัญหา และ/หรือ ความเสียหายต่างๆ ดังกล่าว โดยบริษัทไม่จำเป็นต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า"]</li>
                                    <li>@Localizer["เมื่อได้รับการร้องขอจากบริษัท (ไม่ว่าระหว่าง หรือ ภายหลัง การใช้บริการของผู้ใช้บริการ) ผู้ใช้บริการยินดีจะให้ความร่วมมือกับบริษัท ในการให้ และ เปิดเผย ข้อมูล เอกสาร และ/หรือ หลักฐานต่างๆ ที่เกี่ยวกับการใช้บริการของผู้ใช้บริการ แก่บริษัท และ ให้บริษัทเปิดเผย และ/หรือ ส่งมอบข้อมูล เอกสาร และ/หรือ หลักฐานดังกล่าว ให้แก่หน่วยงานราชการ และ องค์กรใดๆ ที่มีอำนาจตามกฎหมาย เพื่อปฏิบัติตาม กฎ ระเบียบ กฎหมาย และ/หรือ คำสั่ง ของหน่วยงานราชการ และ องค์กรใดๆ ที่มีอำนาจตามกฎหมายที่เกี่ยวข้องดังกล่าว"]</li>
                                    <li>@Localizer["ในการใช้บริการของผู้ใช้บริการ ผู้ใช้บริการรับทราบและตกลงว่า บริษัทไม่ได้ให้คำรับรองหรือยืนยันถึงคุณภาพ คุณค่า มูลค่า และ/หรือ คุณสมบัติใดๆ ของสินค้า ผลิตภัณฑ์ และ/หรือ บริการ ที่ผู้ใช้บริการ และ/หรือ บุคคลภายนอก นำมาเสนอหรือแสดงไว้ เกี่ยวกับการใช้บริการของผู้ใช้บริการ เช่น การแสดงไว้ในเว็บไซต์หรือในเนื้อหาโฆษณา อนึ่ง ในกรณีที่บริษัทต้องเสียหาย   (ไม่ว่าในรูปแบบใดๆ) อันเป็นผลมาจากการดำเนินการเกี่ยวกับกรณีดังกล่าว ผู้ใช้บริการตกลงที่จะดำเนินการแก้ไขความเสียหายดังกล่าวให้หมดสิ้นไป หรือชดเชยค่าเสียหายใดๆ ที่มีหรืออาจจะมีขึ้นแก่บริษัทรวมถึง กรรมการ ผู้บริหาร เจ้าหน้าที่ และ ตัวแทน ของบริษัท"]</li>
                                    <li>@Localizer["ในการใช้บริการของผู้ใช้บริการ ผู้ใช้บริการรับทราบและตกลงว่า บริษัทไม่ได้ให้คำรับรองหรือยืนยันว่าระบบเครือข่ายอินเทอร์เน็ต และ/หรือ การให้บริการโดยผู้ให้บริการในต่างประเทศ จะสามารถดำเนินการได้อย่างสมบูรณ์แบบ ไม่มีข้อบกพร่อง และ/หรือ มีเสถียรภาพตลอดเวลาการใช้บริการ พร้อมกันนี้ บริษัทขอสงวนสิทธิ์ที่จะไม่รับผิดชอบถึงความสูญเสีย หรือ ความเสียหายใดๆ ที่มี หรือ อาจจะมีขึ้นจากกรณีดังกล่าวทั้งสิ้นในกรณีที่ผู้ใช้บริการพบข้อบกพร่องใดๆ ของการใช้บริการผู้ใช้บริการสามารถแจ้งให้บริษัททราบถึงข้อบกพร่องดังกล่าวผ่านช่องทางการติดต่อสื่อสารในเงื่อนไขการให้บริการ"]</li>
                                    <li>@Localizer["ผู้ใช้บริการขอให้คำรับรองและยืนยันต่อบริษัทว่า ผู้ใช้บริการเข้าใจ รับทราบถึง และ จะปฏิบัติตาม บทบัญญัติของกฎหมายที่เกี่ยวข้องกับการใช้บริการของผู้ใช้บริการ (รวมถึง กฎ ระเบียบ กฎหมาย และ/หรือ คำสั่ง ของหน่วยงานราชการที่เกี่ยวข้อง) อย่างเคร่งครัด"]</li>
                                    <li>@Localizer["ผู้ใช้บริการรับทราบและเข้าใจว่า ในการให้บริการต่างๆ แก่ผู้ใช้บริการ บริษัทไม่สามารถรับรองและยืนยันได้ว่า จะไม่มีบุคคลอื่นสามารถเข้าถึง ทำสำเนา แก้ไข เปลี่ยนแปลง และ/หรือ นำไปใช้ซึ่ง ข้อมูล เอกสาร และ/หรือ หลักฐานต่างๆ ที่เกี่ยวกับการใช้บริการของผู้ใช้บริการ (ไม่ว่าที่เป็นความลับ หรือไม่ก็ตาม) และ/หรือ ทำ หรือ อาจจะทำให้เกิดความเสียหายใดๆ แก่ผู้ใช้บริการ"]</li>
                                </ul>
                                <b>@Localizer["3. การติดต่อระหว่างผู้ใช้บริการกับบริษัท"]</b><br />
                                @Localizer["การติดต่อระหว่างผู้ใช้บริการกับบริษัท จะดำเนินการผ่านช่องทางการติดต่อสื่อสารทางอีเมลเป็นหลัก โดยผู้ใช้บริการท่านใดมีปัญหาการใช้บริการหรือประสงค์จะสอบถามเกี่ยวกับบริการ สามารถส่งอีเมลมาได้ที่ info@seniorsoft.co.th และ Tel. 02-692-5899"]<br />
                                <b>@Localizer["4. การเปลี่ยนแปลงกฎ ระเบียบ และเงื่อนไขการให้บริการ"]</b><br />
                                @Localizer["บริษัทอาจจะมีการเปลี่ยนแปลง กฎ ระเบียบ และ เงื่อนไข การให้บริการ (รวมถึง เงื่อนไขในการใช้บริการ และ ข้อกำหนดด้านนโยบายความเป็นส่วนตัว (Privacy Policy) เพื่อความเหมาะสมอยู่เสมอ แม้ว่า เพื่ออำนวยความสะดวกให้แก่ผู้ใช้บริการ บริษัท จะพยายามแจ้งให้ผู้ใช้บริการทราบถึงการเปลี่ยนแปลง กฎ ระเบียบ และ เงื่อนไข ผ่านทาง myMenu Application บริษัทขอสงวนสิทธิ์ในการเปลี่ยนแปลง กฎ ระเบียบ และ เงื่อนไข การให้บริการดังกล่าว โดยไม่ต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า และ จะไม่รับผิดชอบความเสียหายที่เกิดแก่ผู้ใช้บริการหรือบุคคลอื่นใดอันเนื่องมาจากการเปลี่ยนแปลง กฎ ระเบียบ และ เงื่อนไข การให้บริการไม่ว่าในกรณีใดๆ"]<br />
                                <b>@Localizer["5. อัตราค่าบริการ"]</b><br />
                                @Localizer["สำหรับผู้ใช้บริการที่ต้องการสมัครใช้งาน myMenu เพื่อเริ่มต้นบริหารจัดการร้านอาหารของตน รวมถึงข้อมูลรายการอาหาร จัดการโต๊ะ พร้อมให้ลูกค้าของกิจการสั่งอาหารด้วย QR Code และออกบิลใบเสร็จรับเงิน"]<br />
                                @Localizer["สามารถดูรายละเอียดเกี่ยวกับแพ็กเกจค่าบริการได้ที่หน้าเว็บไซต์"] <a href="https://www.SeniorSoft.com" style="color:blue;">www.SeniorSoft.com</a> @Localizer["หรือติดต่อสอบถามที่ฝ่ายขายของบริษัท"]<br />
                                <b>@Localizer["6. โฆษณา"]</b><br />
                                @Localizer["บริษัท สงวนสิทธิ์ในการแสดงโฆษณาของบริษัทหรือบุคคลภายนอกให้กับผู้ใช้บริการผ่านการให้บริการ"]<br />
                                <b>@Localizer["7. การยกเลิกการใช้บริการ"]</b><br />
                                @Localizer["บริษัทขอสงวนสิทธิ์ในการยกเลิกการใช้บริการของผู้ใช้บริการ หากบริษัทเห็นว่าผู้ใช้บริการไม่ปฏิบัติตาม กฎ ระเบียบ และเงื่อนไขการให้บริการ (รวมถึง เงื่อนไขในการใช้บริการ และ ข้อกำหนดด้านนโยบายความเป็นส่วนตัว (Privacy Policy) โดยบริษัทไม่จำเป็นต้องแจ้งให้ ผู้ใช้บริการทราบล่วงหน้า และบริษัทจะไม่รับผิดชอบความเสียหายใดๆ ที่เกิด หรือ อาจจะเกิดขึ้น แก่ผู้ใช้บริการหรือบุคคลอื่นใดอันเนื่องมาจากการดำเนินการดังกล่าว"]<br />
                                <ul class="mb-0">
                                    <li>@Localizer["กรณีท่านต้องการยกเลิกบริการ ทางบริษัท ขอสงวนสิทธิ์ไม่คืนเงินในทุกๆกรณี"]</li>
                                    <li>@Localizer["ค่าธรรมเนียมการใช้บริการ กรณีผู้ใช้ตกลงจะชำระค่าธรรมเนียมการใช้บริการซอฟต์แวร์ myMenu สามารถชำระผ่านช่องทางตามที่บริษัท ซีเนียร์ซอฟท์ ดีเวลลอปเม้นท์ จำกัด กำหนด"]</li>
                                    <li>@Localizer["ค่าธรรมเนียมจะรวมถึง VAT และภาษีที่เกี่ยวข้องอื่นๆ เว้นแต่ตกลงกันไว้เป็นอย่างอื่น ผู้ใช้จะรับผิดชอบค่าภาษีเหล่านั้นเอง ผู้ใช้รับทราบและตกลง บริษัท ซีเนียร์ซอฟท์ ดีเวลลอปเม้นท์ จำกัด สามารถหักค่าธรรมเนียมและภาษีที่เกี่ยวข้อง และบริษัท ซีเนียร์ซอฟท์ ดีเวลลอปเม้นท์ จำกัด จะออกใบเสร็จรับเงินหรือใบกำกับภาษีสำหรับค่าธรรมเนียมและภาษีที่ผู้ขายชำระไว้เมื่อมีการร้องขอ"]</li>
                                </ul>
                                @Localizer["ภายหลังจากผู้ใช้ได้ชำระค่าธรรมเนียมการใช้บริการซอฟต์แวร์ให้แก่ษริษัทฯ แล้ว เราขอสงวนสิทธิ์ไม่คืนเงินค่าธรรมเนียมดังกล่าวทุกกรณี"]<br />
                                <b>@Localizer["ติดต่อ SENIORSOFT"]</b><br />
                                @Localizer["หากท่านต้องการเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวของท่าน ขอเรียกดูข้อมูล และ/หรือ ข้อมูลส่วนตัว มีคำถาม ความคิดเห็น ข้อกังวล หรือขอความช่วยเหลือทางด้านเทคนิค กรุณาติดต่อเราได้ที่นี่ Tel. 02-692-5899 หรือ supportteam@seniorsoft.co.th"]<br />
                            </div>
                            <div class="form-check flex-chack">
                                <input class="form-check-input examine" type="checkbox" value="" id="PrivacyPolicy" onclick="OnChackPrivacyPolicy()">
                                <label class="form-check-label" for="PrivacyPolicy">
                                    @Localizer["ฉันยอมรับนโยบายความเป็นส่วนตัว และ ข้อตกลงและเงื่อนไขการใช้บริการระบบ myMenu"]
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModelInfoPrivacyPolicy" style="font-family: 'Kanit', sans-serif;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body label-text py-5 mt-2">
                    <p class="mb-0 mx-4" style="color:#404040; text-align: center;">@Localizer["คุณต้องการถอนความยินยอมหรือไม่?"]<br /> @Localizer["หากคุณถอนความยินยอม คุณและพนักงาน จะไม่สามารถใช้งานบริการต่างๆของ บน myMenu ได้"]</p>
                    @* <p class="mb-0 mx-4" style="color:#7CBFA7; text-align: center;">*ทดลองใช้งานฟรี 7 วัน</p>*@
                </div>
                <div class="modal-footer pt-0 pb-4" style="border-top: 0px solid #dee2e6; justify-content: center;">
                    <button type="button" class="btn btn-privacy-policy" style="border-radius: 3px; background: #F75474; border: 1px solid #F75474;" data-dismiss="modal" onclick="OnRevokeConsent()">
                        @Localizer["ถอนความยินยอม"]
                    </button>
                    @*<a asp-controller="Login" asp-action="OTP" class="btn btn-login" style="border-radius: 3px; background: #7CBFA7; border: 1px solid #7CBFA7;">
                    ลงทะเบียน
                    </a>*@
                    <button type="button" class="btn btn-privacy-policy" style="border-radius: 3px; background: #B2B2B2; border: 1px solid #B2B2B2;" data-dismiss="modal">
                        @Localizer["ยกเลิก"]
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*  Modal Post not Success Error*@
    <div class="modal fade" id="ModalPostnotSuccessError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body layout-model m-3 p-0 ">
                    <div class="modal-m-text">
                        <div class="row text-center mt-4 mb-4">
                            <p class="text-center mt-5">@Localizer["ไม่สามารถแก้ไขนโยบายความเป็นส่วนตัวและข้อตกลง"]</p>
                            <p class="text-center mb-5 mt-0 ">@Localizer["และเงื่อนไขการใช้บริการระบบ myMenu"]</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel">@Localizer["กลับ"]</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        //get Value Term & Policy
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMenageMechant", "Login")",
            success: function (message) {
                console.log(message);
                if (message.merchant.fPrivacyPolicy == 'Y' && message.merchant.fTermConditions == 'Y') {
                    var PrivacyPolicy = 'Y';
                    if (PrivacyPolicy == "") {
                        document.getElementById("PrivacyPolicy").checked = false;
                        $("#PrivacyPolicy").val('');
                    } else {
                        document.getElementById("PrivacyPolicy").checked = true;
                        $("#PrivacyPolicy").val('Y');
                    }
                }
            }, error: function (message) {
                //$('#ModalPostnotSuccessError').modal('show');
            }
        });

        
    });
    function OnChackPrivacyPolicy() {
        var PrivacyPolicy = $("#PrivacyPolicy").val();
        if (PrivacyPolicy != "") {
            document.getElementById("PrivacyPolicy").checked = true;
            $("#ModelInfoPrivacyPolicy").modal("show");
        } else {

        var Merchant = {
                FTermConditions: 'Y',
                FPrivacyPolicy: 'Y',
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateMerchantTermPolilcy", "Login")",
                data: Merchant,
                success: function (message) {
                    window.location.href = "@Url.Action("LoginBranchs", "Login")";
                }, error: function (message) {
                    $('#ModalPostnotSuccessError').modal('show');
                }

            });
                document.getElementById("PrivacyPolicy").value = "1";
        }

    }
    function OnRevokeConsent() {
        document.getElementById("PrivacyPolicy").checked = true;
        document.getElementById("PrivacyPolicy").value = "";

        var Merchant = {
            FTermConditions: 'N',
            FPrivacyPolicy: 'N',
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateMerchantTermPolilcy", "Login")",
            data: Merchant,
            success: function (message) {
                window.location.href = "@Url.Action("LoginBranchs", "Login")";
            }, error: function (message) {
                $('#ModalPostnotSuccessError').modal('show');
            }

        });
    }


</script>
