@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="ExtraAdd">
    <div class="container">
        <form id="saveOption" onkeyup="ExtraAddTables();">
            <div class="form-row">
                <div class="col-12  mb-2">
                    <div class="row ">
                        <div class="col-12 header-group">
                            <a asp-controller="ManageMenu" asp-action="Extra"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                            <h2 class="font-weight-bold menu-header">@Localizer["เพิ่ม Extra (ตัวเลือกเสริม)"]</h2>
                        </div>
                    </div>
                </div>
                <table id="TablesExtraNember" class="col-md-12 ">
                    <tr class="col-md-12 " hidden>
                    </tr>
                    <tr id="Extrarow1" class=" col-md-12 reset-menu">
                        <td class="card mb-3 border-0">
                            <div class="card-body">
                                <div class="container">
                                    <div class="form-row">
                                        <div class="btn-ml" hidden>
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="form-control  btn-delete-category font-weight-bold reset-menu-delete" id="TableDeleteExtra_1" name="TableDeleteExtra_1" onclick="delete_row_extra('1')">@Localizer["ลบ Extra"]</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="ExtraName_1">@Localizer["ชื่อ Extra"]</label>
                                                <div class="input-group input-text">
                                                    <input type="text" class="form-control text-count examine reset-menu-name" id="ExtraName_1" name="[0].ExtraName" maxlength="240" placeholder="@Localizer["ชื่อ Extra"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="MaxSelect_1">@Localizer["เลือก Extra ได้สูงสุด"]</label>
                                                <div class="input-group input-text">
                                                    <input type="number" class="form-control text-count reset-max-select examine-maxselect examine" id="MaxSelect_1" name="[0].MaxSelect" maxlength="240" placeholder="@Localizer["ระบุจำนวน Extra ที่เลือกได้"]" oninput="OnExamineMaxSelect('MaxSelect_1')">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <div class="card border">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <table id="TablesNember1A1" class="reset-table">
                                                                <tr>
                                                                    <th class="">
                                                                        <label class="font-weight-bold flex-list-name">ชื่อ Extra ย่อย<small class="color-list-number font-weight-bold ml-2">@Localizer["เพิ่มได้สูงสุด 30 รายการ"]</small></label>
                                                                    </th>
                                                                    <th class="">
                                                                        <label class="font-weight-bold ">@Localizer["ราคา"]</label>
                                                                    </th>
                                                                </tr>
                                                                <tr id="row1A1" class="size-tr-tables examine-row">
                                                                    <td class="size-tables-name input-option-size">
                                                                        <div class="input-text pr-3">
                                                                            <input type="text" class="form-control text-count examine reset-name" id="TableName_1A1" name="[0].ExtraDetailModel[0].ExtraDetailName" maxlength="250" placeholder="@Localizer["ชื่อ Extra ย่อย รายการที่ 1"]">
                                                                        </div>
                                                                    </td>
                                                                    <td class="size-tables-name input-price-size">
                                                                        <div class="input-text pr-3">
                                                                            <input type="text" class="form-control text-count examine reset-price extra" id="TablePrice_1A1" name="[0].ExtraDetailModel[0].Price" oninput="OnExaminePrice('TablePrice_1A1')" maxlength="25" placeholder="฿00.00">
                                                                        </div>
                                                                    </td>
                                                                    <td class="size-tables-delete">
                                                                        <button type="button" class="form-control btn-delete reset-delete" id="TableDelete_1A1" name="TableDelete_1A1" onclick="delete_row('1A1')"><i class="fa fa-trash-o"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-12 width-button">
                                                            <button type="button" class="btn-add-subcategory font-weight-bold reset-add ml-1" onclick="AddLists('1A1');"><img class="img-size-add" src="/mymenumerchant/images/Add.png" /> @Localizer["เพิ่มรายการย่อย"]</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="col-md-12 mb-3  pl-0 pr-0">
                    <div class="card ">
                        <button type="button" class="btn-add-category btn-lg font-weight-bold btn-border-radius" onclick="AddTablesRow();">@Localizer["เพิ่ม Extra ใหม่"]</button>
                    </div>
                </div>

                <div class="col-md-12  mb-2 pr-0 mt-2">
                    <div class="d-flex justify-content-end">
                        <div class="">
                            <button type="submit" class="btn-save font-weight-bold " id="SaveExtra" disabled="disabled">@Localizer["บันทึก"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <br />
    <br />
    <footer>
        <div class="footer-help">
            <div class="row">
                <div class="media">
                    <img class="align-self-center mr-3 img-help" src="/mymenumerchant/images/Help.png">
                    <div class="media-body layout-body">
                        <p class="color-header-help p-margin">@Localizer["Extra (ตัวเลือกเสริม)"] <samp class="color-sub-help">@Localizer["เป็นตัวเลือกเสริมที่สามารถเลือกได้มากกว่า 1 รายการ ตัวอย่างเช่น ท็อปปิ้งเครื่องดื่ม"] </samp></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*ModalInfoExtraNumber*@
    <div class="modal fade " id="ModalInfoExtraNumber" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ">
                    <h5 class="text-center mb-5 my-5 font-weight-bold">@Localizer["คุณระบุจำนวน Extra ที่เลือกได้ สูงกว่า จำนวนรายการย่อยที่มี กรุณาระบุจำนวนให้สอดคล้องกัน"]</h5>
                    <div class=" d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn btn-info-ok" data-dismiss="modal">@Localizer["ตกลง"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  Modal Post not Success Error*@
    <div class="modal fade" id="ModalPostnotSuccessError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body layout-model m-3 p-0 ">
                    <div class="modal-m-text">
                        <div class="row text-center mt-4 mb-4">
                            <h5 class="text-center mb-5 my-5 " id="namealert">@Localizer["ไม่สามารถบันทึกได้ กรุณาลองใหม่อีกครั้ง"]</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel" onclick="closemodel();">@Localizer["กลับ"]</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#saveOption").on("submit", function (e) {
            var dataString = $(this).serialize();
            e.preventDefault();
            var extra = OnSubmitEvent();
            if (extra == 1) {
                return false;
            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ExtraAddSave", "ManageMenu")",
                    data: dataString,
                    success: function (message) {
                        window.location.href = "@Url.Action("Extra", "ManageMenu")";
                    }, error: function (message) {
                        $('#ModalPostnotSuccessError').modal('show');
                        if (message.responseText == "Insert ExtraDetail Error") {
                            $('$namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถเพิ่ม Extra ย่อย ได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                        }else{
                            $('$namealert').text(@Html.Raw(Json.Serialize(Localizer["ไม่สามารถบันทึกได้ กรุณาลองใหม่อีกครั้ง"].Value)));
                        }
                    }
                });
            }
        });
    });
    function OnSubmitEvent() {
        var TablesExtra = document.getElementById("TablesExtraNember");
        var tablesrow_id = ((TablesExtra.rows.length) - 1);
        for (var i = 1; i <= tablesrow_id; i++) {
            var MaxSelectVal = document.getElementById("MaxSelect_" + i).value;
            var TablesNumber = document.getElementById("TablesNember" + i + "A1");
            var sub_extra = TablesNumber.getElementsByClassName("examine-row").length;
            if (sub_extra < MaxSelectVal) {
                $('#ModalInfoExtraNumber').modal('show');
                return 1;
            }
        }
        return 0;
    }
    function ExtraAddTables() {
        document.getElementById('SaveExtra').disabled = false;
        var inputtext = document.querySelectorAll(".examine");
        inputtext.forEach((x) => {
            if (x.value == "") {
                document.getElementById('SaveExtra').disabled = true;
            }
        });
    }
    function AddTablesRow() {
        var tablesrow = document.getElementById("TablesExtraNember");
        var tablesrow_id = (tablesrow.rows.length);
        var row = tablesrow.insertRow(tablesrow_id).outerHTML =
            "<tr id='Extrarow" + tablesrow_id + "' class=' col-md-12 reset-menu'>" +
            "<td class='card mb-3 border-0'>" +
            "<div class='card-body'>" +
            "<div class='container'>" +
            "<div class='form-row'>" +
            "<div class='btn-ml'>" +
            "<div class='d-flex justify-content-end'>" +
            "<button type='button' class='form-control btn-delete-category font-weight-bold reset-menu-delete' id='TableDeleteExtra_" + tablesrow_id + "' name='TableDeleteOption_" + tablesrow_id + "' onclick='delete_row_extra(&apos;" + tablesrow_id + "&apos;)'><i class='fa fa-trash-o'></i> " + @Html.Raw(Json.Serialize(Localizer["ลบ Extra"].Value)) + "</button>" +
            "</div>" +
            "</div>" +
            "<div class='col-md-12'> " +
            "<div class='form-group'>" +
            "<label class='font-weight-bold' for='ExtraName_" + tablesrow_id + "'>" + @Html.Raw(Json.Serialize(Localizer["ชื่อ Extra"].Value)) + "</label>" +
            "<div class='input-group input-text'>" +
            "<input type='text' class='form-control text-count reset-menu-name' id='ExtraName_" + tablesrow_id + "'  name='[" + (tablesrow_id - 1) + "].ExtraName' maxlength='240' placeholder='" + @Html.Raw(Json.Serialize(Localizer["ชื่อ Extra"].Value)) + "'>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "<div class='col-md-12'>" +
            "<div class='form-group'>" +
            "<label class='font-weight-bold' for='MaxSelect_" + tablesrow_id + "'>" + @Html.Raw(Json.Serialize(Localizer["เลือก Extra ได้สูงสุด"].Value))+"</label>" +
            "<div class='input-group input-text'>" +
            "<input type='number' class='form-control text-count reset-max-select examine-maxselect examine' id='MaxSelect_" + tablesrow_id + "' name='[" + (tablesrow_id - 1) + "].MaxSelect' maxlength='240' oninput='OnExamineMaxSelect(&apos;MaxSelect_" + tablesrow_id + "&apos;)' placeholder='" + @Html.Raw(Json.Serialize(Localizer["ระบุจำนวน Extra ที่เลือกได้"].Value))+"'>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "<div class='col-md-12 mb-2'>" +
            "<div class='card border'>" +
            "<div class='card-body'>" +
            "<div class='form-row'>" +
            "<div class='col-md-12'>" +
            "<table id='TablesNember" + tablesrow_id + "A1' class='reset-table'>" +
            "<tr>" +
            "<td  class='size-tables-name input-option-size'>" +
            "<label class='font-weight-bold flex-list-name'>" + @Html.Raw(Json.Serialize(Localizer["ชื่อ Extra ย่อย"].Value)) + "<small class='color-list-number font-weight-bold ml-2'>" + @Html.Raw(Json.Serialize(Localizer["เพิ่มได้สูงสุด 30 รายการ"].Value)) + "</small></label>" +
            "</td>" +
            "<td  class='size-tables-name input-option-size'>" +
            "<label class='font-weight-bold input-option-size'>" + @Html.Raw(Json.Serialize(Localizer["ราคา"].Value)) + " </label>" +
            "</td>" +
            "</tr>" +
            "<tr id='row" + tablesrow_id + "A1' class='size-tr-tables reset-row examine-row'>" +
            "<td  class='size-tables-name input-option-size'>" +
            "<div class='input-text pr-3'>" +
            "<input type='text' class='form-control text-count examine reset-name' id='TableName_" + tablesrow_id + "A1' name='[" + (tablesrow_id - 1) + "].ExtraDetailModel[0].ExtraDetailName' name='TableName_" + tablesrow_id + "A1' maxlength='250' placeholder='" + @Html.Raw(Json.Serialize(Localizer["ชื่อ Extra ย่อย รายการที่ 1"].Value)) + "'>" +
            "</div>" +
            "</td>" +
            "<td  class='size-tables-name input-price-size'>" +
            "<div class='input-text pr-3'>" +
            "<input type='text' class='form-control text-count examine reset-price' id='TablePrice_" + tablesrow_id + "A1' name='[" + (tablesrow_id - 1) + "].ExtraDetailModel[0].Price' name='TablePrice_" + tablesrow_id + "A1' oninput='OnExaminePrice(&apos;TablePrice_" + tablesrow_id + "A1&apos;)' maxlength='250' placeholder='฿00.00'>" +
            "</div>" +
            "</td>" +
            "<td class='size-tables-delete'>" +
            "<button type='button' class='form-control btn-delete reset-delete' id='TableDelete_" + tablesrow_id + "A1' name='TableDelete_" + tablesrow_id + "A1' onclick='delete_row(&apos;" + tablesrow_id + "A1&apos;)'><i class='fa fa-trash-o'></i></button>" +
            "</td>" +
            "</tr>" +
            "</table>" +
            "</div>" +
            "<div class='col-md-12 width-button'> " +
            "<button type='button' class='btn-add-subcategory font-weight-bold reset-add' onclick='AddLists(&apos;" + tablesrow_id + "A1&apos;);'><img class='img-size-add' src='/mymenumerchant/images/Add.png' />" + @Html.Raw(Json.Serialize(Localizer["เพิ่มรายการย่อย"].Value))+ " </button>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</td>" +
            "</tr>";
        document.getElementById('SaveExtra').disabled = true;
    }

    function delete_row_extra(no) {
        document.getElementById("Extrarow" + no + "").outerHTML = "";
        reset_body();

        document.getElementById('SaveExtra').disabled = true;
        var inputtext = document.querySelectorAll(".examine");
        if (inputtext.length > 2) {
            inputtext.forEach((x) => {
                if (x.id.indexOf('ExtraName') >= 0 || x.id.indexOf('MaxSelect') >= 0) {
                    inputtext.forEach((x) => {
                        if (x.id.indexOf('TableName') >= 0) {
                            if (x.value == "") {
                                document.getElementById('SaveExtra').disabled = true;
                                return false;
                            }
                        } else if (x.id.indexOf('TablePrice') >= 0) {
                            if (x.value == "") {
                                document.getElementById('SaveExtra').disabled = true;
                                return false;
                            }
                        } else {
                            document.getElementById('SaveExtra').disabled = false;
                        }
                    });
                }
            });
        }
    }

    function reset_body() {
        var tables_out = document.getElementById("TablesExtraNember");
        var rows_out = tables_out.getElementsByClassName("reset-menu");
        var menu_names = tables_out.getElementsByClassName("reset-menu-name");
        var menu_maxselect = tables_out.getElementsByClassName("reset-max-select");
        var menu_deletes = tables_out.getElementsByClassName("reset-menu-delete");
        var menu_adds = tables_out.getElementsByClassName("reset-add");
        var tables_in = tables_out.getElementsByClassName("reset-table");
        for (var i = 0; i < rows_out.length; i++) {
            rows_out[i] = i;
            if (i > 0) {
                rows_out[i].setAttribute("id", "Extrarow" + (i + 1) + "");
            }
        }
        for (var i = 0; i < menu_names.length; i++) {
            menu_names[i] = i;
            if (i > 0) {
                menu_names[i].setAttribute("id", "ExtraName_" + (i + 1) + "");
                menu_names[i].setAttribute("name", "[" + (i) + "].ExtraName");
            }
        }
        for (var i = 0; i < menu_maxselect.length; i++) {
            menu_maxselect[i] = i;
            if (i > 0) {
                menu_maxselect[i].setAttribute("id", "MaxSelect_" + (i + 1) + "");
                //menu_maxselect[i].setAttribute("name", "MaxSelect_" + (i+1) + "");
                menu_maxselect[i].setAttribute("name", "[" + (i) + "].MaxSelect");
                menu_maxselect[i].setAttribute("oninput", "OnExamineMaxSelect('" + (i + 1) + "');");

            }
        }
        for (var i = 0; i < menu_deletes.length; i++) {
            menu_deletes[i] = i;
            if (i > 0) {
                menu_deletes[i].setAttribute("id", "TableDeleteExtra_" + (i + 1) + "");
                menu_deletes[i].setAttribute("name", "TableDeleteExtra_" + (i + 1) + "");
                menu_deletes[i].setAttribute("onclick", "delete_row_extra('" + (i + 1) + "');");
            }
        }
        for (var i = 0; i < menu_adds.length; i++) {
            menu_adds[i] = i;
            menu_adds[i].setAttribute("onclick", "AddLists('" + (i + 1) + "A1');");
        }
        for (var i = 0; i < tables_in.length; i++) {
            tables_in[i] = i;
            if (i > 0) {
                tables_in[i].setAttribute("id", "TablesNember" + (i + 1) + "A1");
                var no = "TablesNember" + (i + 1) + "A1";
                var tables = document.getElementById(no);
                var rows = tables.getElementsByTagName("tr");
                var names = tables.getElementsByClassName("reset-name");
                var prices = tables.getElementsByClassName("reset-price");
                var deletes = tables.getElementsByClassName("reset-delete");
                for (var j = 0; j < rows.length; j++) {
                    rows[j] = j;
                    if (j > 0) {
                        rows[j].setAttribute("id", "row" + (i + 1) + "A" + (j) + "");
                    }
                }
                for (var k = 0; k < names.length; k++) {
                    names[k] = k;
                    names[k].setAttribute("id", "TableName_" + (i + 1) + "A" + (k + 1) + "");
                    names[k].setAttribute("name", "[" + (i) + "].ExtraDetailModel[" + (k) + "].ExtraDetailName");
                }
                for (var l = 0; l < prices.length; l++) {
                    prices[l] = l;
                    prices[l].setAttribute("id", "TablePrice_" + (i + 1) + "A" + (l + 1) + "");
                    prices[l].setAttribute("name", "[" + (i) + "].ExtraDetailModel[" + (l) + "].Price");
                    prices[l].setAttribute("oninput", "OnExaminePrice('" + (i + 1) + "A" + (l + 1) + "');");
                }
                for (var h = 0; h < deletes.length; h++) {
                    deletes[h] = h;
                    deletes[h].setAttribute("id", "TableDelete_" + (i + 1) + "A" + (h + 1) + "");
                    deletes[h].setAttribute("name", "TableDelete_" + (i + 1) + "A" + (h + 1) + "");
                    deletes[h].setAttribute("onclick", "delete_row('" + (i + 1) + "A" + (h + 1) + "')");
                }
            }
        }
    }

    function AddLists(no_id) {
        var ExamineNoId;
        const cut_tablesrow_id = no_id.split("A");
        var Cot_NoId = cut_tablesrow_id[0];
        if (Cot_NoId == 1) {
            ExamineNoId = Cot_NoId;
        } else {
            ExamineNoId = (Cot_NoId - (Cot_NoId - 1));
        }
        var tables = document.getElementById("TablesNember" + Cot_NoId + "A" + ExamineNoId + "");
        var tablessuboption_id = (tables.rows.length);
        if (tablessuboption_id <= 30) {
            var row = tables.insertRow(tablessuboption_id).outerHTML =
                "<tr id='row" + Cot_NoId + "A" + tablessuboption_id + "' class='size-tr-tables examine-row'>" +
                "<td  class='size-tables-name input-option-size'>" +
                "<div class='input-text pr-3'>" +
                "<input type='text' class='form-control text-count examine reset-name' id='TableName_" + Cot_NoId + "A" + tablessuboption_id + "' name='[" + (Cot_NoId - 1) + "].ExtraDetailModel[" + (tablessuboption_id - 1) + "].ExtraDetailName' maxlength='250' placeholder='" + @Html.Raw(Json.Serialize(Localizer["ชื่อ Extra ย่อย รายการที่"].Value))+ " "  + tablessuboption_id + "'>" +
                "</div>" +
                "</td>" +
                "<td  class='size-tables-name input-price-size'>" +
                "<div class='input-text pr-3'>" +
                "<input type='text' class='form-control text-count examine reset-price' id='TablePrice_" + Cot_NoId + "A" + tablessuboption_id + "' name='[" + (Cot_NoId - 1) + "].ExtraDetailModel[" + (tablessuboption_id - 1) + "].Price' oninput='OnExaminePrice(&apos;TablePrice_" + Cot_NoId + "A" + tablessuboption_id + "&apos;)' maxlength='250' placeholder='฿00.00'>" +
                "</div>" +
                "</td>" +
                "<td class='size-tables-delete '>" +
                "<button type='button' class='form-control btn-delete reset-delete' id='TableDelete_" + Cot_NoId + "A" + tablessuboption_id + "' name='TableDelete_" + Cot_NoId + "A" + tablessuboption_id + "' onclick='delete_row(&apos;" + Cot_NoId + "A" + tablessuboption_id + "&apos;)'><i class='fa fa-trash-o'></i></button>" +
                "</td>" +
                "</tr>";

            if (tablessuboption_id == 30) {
                var elements = document.getElementsByClassName('btn-add-subcategory font-weight-bold reset-add ml-1');
                for (var i = 0; i < elements.length; i++) {
                    elements[i].style.opacity = '0.5';
                    elements[i].style.pointerEvents = "none";
                    elements[i].style.cursor = "default";
                }
            }
        } else {
            return false;
        }
        document.getElementById('SaveExtra').disabled = true;
    }

    function delete_row(no) {
        document.getElementById("row" + no + "").outerHTML = "";
        reset_id(no);

        document.getElementById('SaveExtra').disabled = true;
        //ถ้ามีการลบที่เคยสร้างจะต้องเปิดปุ่ม
        var inputtext2 = document.querySelectorAll(".examine");
        if (inputtext2.length > 2) {
            if (inputtext2.length % 4 != 0) {
                document.getElementById('SaveExtra').disabled = true;
                return false;
            }
            inputtext2.forEach((x) => {
                if (x.id.indexOf('ExtraName') >= 0 || x.id.indexOf('MaxSelect') >= 0) {
                    inputtext2.forEach((x) => {
                        if (x.id.indexOf('TableName') >= 0) {
                            if (x.value == "") {
                                document.getElementById('SaveExtra').disabled = true;
                                return false;
                            }
                        } else if (x.id.indexOf('TablePrice') >= 0) {
                            if (x.value == "") {
                                document.getElementById('SaveExtra').disabled = true;
                                return false;
                            }
                        } else {
                            document.getElementById('SaveExtra').disabled = false;
                        }
                    });
                    //document.getElementById('SaveExtra').disabled = true;
                }
            });
        }
    }

    function reset_id(no) {
        var ExamineNoId;
        const cut_tablesrow_id = no.split("A");
        var Cot_NoId = cut_tablesrow_id[0];
        if (Cot_NoId == 1) {
            ExamineNoId = Cot_NoId;
        } else {
            ExamineNoId = (Cot_NoId - (Cot_NoId - 1));
        }
        var tables = document.getElementById("TablesNember" + Cot_NoId + "A" + ExamineNoId + "");
        var rows = tables.getElementsByTagName("tr");
        var names = tables.getElementsByClassName("reset-name");
        var prices = tables.getElementsByClassName("reset-price");
        var deletes = tables.getElementsByClassName("reset-delete");
        for (var i = 0; i < rows.length; i++) {
            rows[i] = i;
            if (i > 0) {
                rows[i].setAttribute("id", "row" + Cot_NoId + "A" + i + "");
            }
        }

        if (rows.length <= 30) {
            var elements = document.getElementsByClassName('btn-add-subcategory font-weight-bold reset-add ml-1');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.opacity = '1';
                elements[i].style.pointerEvents = "auto";
                elements[i].style.cursor = "pointer";
            }
        }

        for (var i = 0; i < names.length; i++) {
            names[i] = i;
            names[i].setAttribute("id", "TableName_" + Cot_NoId + "A" + (i + 1) + "");
            names[i].setAttribute("name", "[" + (Cot_NoId - 1) + "].ExtraDetailModel[" + (i) + "].ExtraDetailName");
            names[i].setAttribute("placeholder", "ชื่อ Extra ย่อย รายการที่ " + (i + 1) + "");
        }
        for (var i = 0; i < prices.length; i++) {
            prices[i] = i;
            prices[i].setAttribute("id", "TablePrice_" + Cot_NoId + "A" + (i + 1) + "");
            prices[i].setAttribute("name", "[" + (Cot_NoId - 1) + "].ExtraDetailModel[" + (i) + "].Price");
        }
        for (var i = 0; i < deletes.length; i++) {
            deletes[i] = i;
            deletes[i].setAttribute("id", "TableDelete_" + Cot_NoId + "A" + (i + 1) + "");
            deletes[i].setAttribute("name", "TableDelete_" + Cot_NoId + "A" + (i + 1) + "");
            deletes[i].setAttribute("onclick", "delete_row('" + Cot_NoId + "A" + (i + 1) + "');");
        }

    }

    function OnExamineMaxSelect(id) {
        var DataSelect = $("#" + id).val();
        var numericValue = DataSelect.replace(/[^0-9]/g, "");
        numericValue.replace(/[^0-9]/g, "");
        $("#" + id).val(numericValue);
        var DataArray = DataSelect.split("");
        if (DataArray[0] == 0) {
            if (DataArray[0] < DataArray[1]) {
                $("#" + id).val(DataArray[1]);
            }
        }
        if (DataSelect > 30) {
            $("#" + id).val(30);
        }
    }

    function OnExaminePrice(id) {
        var DataSelect = $("#" + id).val();
        var currentValue = DataSelect.split(",");
        var number = "";
        for (var i = 0; i < currentValue.length; i++) {
            number += currentValue[i]
        }
        if (!isNaN(number)) {
            const chack = number.split("");
            if (number.length > 1) {
                if (chack[0] == "0") {
                    if (parseInt(chack[0]) <= parseInt(chack[1])) {
                        $("#" + id).val(chack[1]);
                    }
                }
            }
            if (number === ".") {
                $("#" + id).val("0.");
            }
            const parts = number.split(".");
            if (parts[1] && parts[1].length > 2) {

                var datavalue = number.slice(0, -1);
                $("#" + id).val(datavalue);
                var formatNumberA = formatNumber($("#" + id).val());
                $("#" + id).val(formatNumberA);
                return;
            }

            const integerValue = parseInt(number.replace(".", "."), 10);
            if (isNaN(integerValue)) {
                $("#" + id).val("");
                return;
            }
            if (integerValue >= 1000000000000) {
                var maxnumber = "9,999,999,999,999.99";
                const formattedValue = parseFloat(maxnumber).toLocaleString();
                $("#" + id).val(formattedValue);

            } else {
                if (number <= 1000000000000) {
                    var Asplit = number.split("");
                    if (Asplit.includes(".")) {
                        var formatNumberA = formatNumber(number);
                        $("#" + id).val(formatNumberA);

                        return true;
                    } else {
                        var formattedValue = parseFloat(number).toLocaleString();
                        $("#" + id).val(formattedValue);
                        return true;
                    }
                } else {
                    var maxnumber = "9,999,999,999,999.99";
                    const formattedValue = parseFloat(maxnumber).toLocaleString();
                    $("#" + id).val(formattedValue);
                    return true;
                }
            }
        } else {
            var data = cleartextinnumber(number);
            $("#" + id).val(data);
            return;
        }
    }
    function formatNumber(numberString) {
        var valpoint = numberString.split(".");
        var formattedValue = "";
        if (valpoint.length == 2) {
            formattedValue = parseFloat(valpoint[0]).toLocaleString();
            formattedValue += "." + valpoint[1];
        } else {
            formattedValue = parseFloat(number).toLocaleString();
        }
        return formattedValue;
    }

</script>


