@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<body id="Option">
    <div class="container mb-4">
        <div class="form-row">
            <div class="col-md-12  mb-3">
                <div class="row ">
                    <div class="col-12 header-group ">
                        <a asp-controller="ManageMenu" asp-action="Index"><i class="i-wh fa fa-angle-left color-branch-p"></i></a>
                        <h1 class="font-weight-bold menu-header">@Localizer["Option (ตัวเลือก)"]</h1>
                        <ul class="breadcrumb mb-2">
                            <li class="breadcrumb-item"><a class="color-a-breadcrumb" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item text-ellipsis-link-1"><a class="color-a-breadcrumb" asp-controller="ManageMenu" asp-action="Index">@Localizer["จัดการเมนูอาหาร"]</a></li>
                            <li class="breadcrumb-item active text-ellipsis" aria-current="page">@Localizer["Option (ตัวเลือก)"]</li>
                        </ul>
                        <a class="breadcrumb button-add text-center layout-add" asp-controller="ManageMenu" asp-action="OptionAdd" id="btnAddOption"><img class="img-icon-add" src="/mymenumerchant/images/Add.png" /> @Localizer["เพิ่ม Option"]</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-2 search">
                <input class="form-control input-lg main-input" type="search" id="SearchTable" placeholder="@Localizer["ชื่อ Option, ราคา"]" style="height: 45px;" autocomplete="off">
            </div>
            <div class="col-md-12 mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="container">
                            <div class="form-row">
                                <label class="font-weight-bold mb-0 font-size">@Localizer["รายการตัวเลือก"]  <span class="size-small font-weight-bold ms-2" id="count"> @Localizer["จำนวนทั้งหมด"] 0 </span><span class="size-small font-weight-bold">/100</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <div class="table-responsive">
                                    <table class="table" id="TableOption" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">@Localizer["ลำดับ"]</th>
                                                <th scope="col" class="size-th-name">@Localizer["ชื่อ Option"]</th>
                                                @* <th scope="col" class="size-th-category">ตัวเลือกย่อย</th>*@
                                                <th scope="col" class="size-th-number text-right">@Localizer["ราคา"]</th>
                                                <th scope="col" class="size-th-edit"></th>
                                            </tr>

                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*ModalDetailsInfo*@
        <div class="modal fade bd-example-modal-xl" id="ModalDetailsInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="d-flex flex-row mb-2">
                            <div class="pt-2 pl-0 pr-0"> <button type="button" class="btn-close header-modal" data-dismiss="modal" aria-label="Close" onclick="Close();"><span aria-hidden="true"><i class="size-i-back fa fa-angle-left"></i></span></button></div>
                            <div class="pt-1 pm-0 pl-3 pr-0"><h5 class="text-branch mb-0">@Localizer["รายละเอียดตัวเลือก"]</h5></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="card-body p-0">
                            <div class="col-12">
                                <div class="modal-header-table">
                                    <div class="form-row">
                                        <label class="font-weight-bold mb-0 font-size16 color-header-dack">@Localizer["ชื่อ Option :"] <small class="size-small font-weight-bold ms-2" id="namedetail"> กาแฟ</small></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="card-body p-0">
                            <div class="form-row">
                                <div class="col-md-12 mb-2">
                                    <div class="table-responsive">
                                        <table class="table " id="TableOptionDetail" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th scope="col">@Localizer["ลำดับ"]</th>
                                                    <th scope="col" class="size-th-name">@Localizer["ชื่อ Option ย่อย"]</th>
                                                    <th scope="col" class="size-th-number text-right">@Localizer["ราคา"]</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalOptionDelete -->
        <div class="modal fade " id="ModalOptionDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body ">
                        <h5 class="text-center mb-5 my-5 " id="namedelete">@Localizer["ยืนยันการลบ Option"]</h5>
                        <div class=" d-flex justify-content-center">
                            <input id="iddelete" value="" hidden />
                            <button type="button" class="font-weight-bold btn  button-modal-delete" onclick="fnDelete()">@Localizer["ลบ"]</button>
                            <button type="button" class="font-weight-bold btn ms-5 button-modal-close" data-dismiss="modal">@Localizer["ยกเลิก"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Post not Success-->
        <div class="modal fade" id="ModalPostnotSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body layout-model m-3 p-0 ">
                        <div class="modal-m-text">
                            <div class="row text-center mt-4 mb-4">
                                <h5 class="text-center mb-5 my-5 " id="namedelete">@Localizer["ไม่สามารถลบ Option ได้ เนื่องจากมีการใช้งานอยู่"]</h5>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="font-weight-bold btn button-modal-close" data-dismiss="modal" id="closemodel" onclick="closemodel();">@Localizer["กลับ"]</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <footer>
        <div class="footer-help">
            <div class="row">
                <div class="media">
                    <img class="align-self-center mr-3 img-help" src="/mymenumerchant/images/Help.png">
                    <div class="media-body layout-body">
                        <p class="color-header-help p-margin">@Localizer["Option (ตัวเลือก)"] <samp class="color-sub-help">@Localizer["เป็นตัวเลือกเพิ่มเติมที่บังคับเลือก สามารถเลือกได้ 1 รายการ ตัวอย่างเช่น ระดับความหวาน, ขนาดสินค้า"]</samp> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
<form hidden id="EditOption" asp-action="OptionEdit">
    <input name="option" id="OptionModel" value="" />
</form>
<script>

    function format(d) {
        //console.log(d);
        var text = '<div class="table-responsive">' +
            '<table class=" table table-striped table-active" cellpadding="6" cellspacing="0" border="0" style="padding-left:100%;">';
        for (var i = 0; i < d.optionDetailModels.length; i++) {
            text += '<tr>' +
                '<td class="size-subname "><p class="layout-subname-a text-right sub-text-overflow"><i class="fa fa-square me-3 icon-type-size"></i>' +
                d.optionDetailModels[i].optionDetailName + '</p></td>' +
                '<td class="size-subnumber ">' +
                '<p class="layout-subname-b text-center ">' + d.optionDetailModels[i].price + '</p>' +
                '</td>' +
                '</tr>';
        }

        text += '</table>' +
            '</div>';
        return text;
    }

    function sentdata(d) {
        var data = $('#TableOption').DataTable().row(d).data();
        var test = JSON.stringify(data);
        $("#OptionModel").val(test);
        $("#EditOption").submit();
    }

    var _role;
    $(document).ready(function () {
        _role = '@ViewBag.role';
        _role = _role.toLowerCase();

        $('#TableOption').on('click', 'tbody td button.dt-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var icon = $(this).closest("button");

            if (row.child.isShown()) {
                icon.html( @Html.Raw(Json.Serialize(Localizer["แสดงหมวดหมู่ย่อย"].Value)) + '<i class="fa fa-angle-down"></i>');
                row.child.hide();

            } else {
                icon.html(@Html.Raw(Json.Serialize(Localizer["แสดงหมวดหมู่ย่อย"].Value)) + ' <i class="fa fa-angle-up"></i>');
                row.child(format(row.data())).show();
            }
        });

        $('#TableOption').on('requestChild.dt', function (e, row) {
            row.child(format(row.data())).show();
        });

        var table = $('#TableOption').DataTable({
            ajax: {
                url: "@Url.Action("GetMenuOption", "ManageMenu")",
                dataSrc: ''
            },
            processing: false,
            serverSide: false,
            stateSave: false,
            columns: [
                { data: 'optionID', },
                { data: { optionName: 'optionName', optionDetailModels: 'optionDetailModels' } },
                //{ data: 'optionID' },
                { data: { optionID: 'optionID', optionDetailModels: 'optionDetailModels' } },
                { data: 'optionID' },
            ],
            columnDefs: [{
                targets: [0],
                render: function (data, type, full, meta) {
                    //console.log(full)
                    var text0 = "<p class='p-padding-table'>" + (meta.row + meta.settings._iDisplayStart + 1) + "</p>";
                    return text0;
                },
            }, {
                targets: [1],
                render: function (data, type, full, meta) {
                    var text1 = "<p class='p-padding-table'>" + data.optionName + "</p><div class='sub-option display-sub-option'>";
                    for (var i = 0; i < data.optionDetailModels.length; i++) {
                        text1 += "<p class='p-padding-table'><i class='fa fa-square me-3 icon-type-size'></i>" + data.optionDetailModels[i].optionDetailName + "</p>";
                    }
                    text1 += "</div>";
                    return text1;
                },
            }, {
                targets: [2],
                render: function (data, type, full, meta) {
                    var text2 = "<p class='p-padding-table text-right'></p><div class='sub-option display-sub-option'>";
                    for (var i = 0; i < data.optionDetailModels.length; i++) {
                        //var price = parseFloat(data.optionDetailModels[i].price).toLocaleString();
                        var price = roundToTwo(data.optionDetailModels[i].price);
                        text2 += "<p class='p-padding-table text-right'>" + price + "</p>";
                    }
                    text2 += "</div>";
                    return text2;
                },
            }, {
                targets: [3],
                render: function (data, type, full, meta) {
                    var disibleedit = "";
                    var disibledelete = "";
                    if (_role == "editor" || _role == "invoice" || _role == "officer" || _role == "cashier") {
                        if (_role != "editor") {
                            disibleedit = "block-a";
                        }
                        disibledelete = "block-a";
                    }
                    var edit = "<div class='group-btn-table'><button type='button' class='btn btn-green-info mr-2' data-toggle='modal' data-target='#ModalDetailsInfo' onclick='OnInfoCategoryDetali(" + meta.row + ")'><img class='img-detail size-img-list-menu' src= '/mymenumerchant/images/Detail20.png' /></button><button class='btn btn-blue-edit mr-2 " + disibleedit + "'   onclick='sentdata(" + meta.row + ")' ><img class='size-img-list-menu' src='/mymenumerchant/images/Edit20.png' /></button><button type='button' class='btn btn-red-delete " + disibledelete + "' data-toggle='modal'  onclick='btnDelete(" + meta.row + ")' data-target='#ModalOptionDelete'><img class='size-img-list-menu' src ='/mymenumerchant/images/Delete20.png' /></button></div>";
                    return edit;
                },
            }
            ],
            "language": {
                "emptyTable": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["ยังไม่มีรายการ Option"].Value))  + "</p><br/><br/><br/><br/>",
                "zeroRecords": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["ไม่พบข้อมูล"].Value))  +"</p><br/><br/><br/><br/>",
                "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["Loading.."].Value))  + "</p><br/><br/><br/><br/>",
            },
            searching: true,
            paging: false,
            ordering: false,
            info: false,
            
            "initComplete": function (settings, json) {
                $('#count').text(@Html.Raw(Json.Serialize(Localizer["จำนวนทั้งหมด"].Value)) + ' '  + table.data().count());

                var count = table.data().count();
                var btn = document.getElementById("btnAddOption");
                if (count >= 100) {
                    btn.style.opacity = "0.5";
                    btn.style.pointerEvents = "none";
                    btn.style.cursor = "default";
                } else {
                    btn.style.opacity = "1";
                    btn.style.pointerEvents = "auto";
                    btn.style.cursor = "pointer";
                }

            },
        });
        $('#TableOption tbody').on('click', 'tr td:not(:nth-child(4))', function () {
            var tr = $(this).closest('tr');
            tr.find('div.sub-option').toggleClass('display-sub-option');
        });

        var tables = $('#TableOption').DataTable();
        $('#SearchTable').on('keyup', function () {
            tables.search(this.value).draw();
        });
        if (_role == "invoice" || _role == "officer" || _role == "cashier") {
            $("#btnAddOption").addClass("block-a");
        }
    });

    function OnInfoCategoryDetali(d) {
        var data = $('#TableOption').DataTable().row(d).data();
        //console.log(data);
        $('#namedetail').text(data.optionName);

        var table = $('#TableOptionDetail').DataTable({
            data: data.optionDetailModels,
            stateSave: false,
            columns: [
                { data: 'optionID', },
                { data: 'optionDetailName' },
                { data: 'price' },
            ],
            columnDefs: [{
                targets: [0],
                render: function (data, type, full, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                },
            }, {
                targets: [1],
                render: function (data, type, full, meta) {

                    var text1 = '<p class="p-0 m-0">' + data + '</p>'
                    return text1;
                },
            }, {
                targets: [2],
                render: function (data, type, full, meta) {
                    // var d = parseFloat(data).toLocaleString();
                    var d = roundToTwo(data);
                    var text2 = '<p class=" pb-0 m-0 text-right">' + d + '</p>'
                    return text2;
                },
            },
            ],
            "language": {
                "emptyTable": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["ยังไม่มีรายการ Option"].Value))  + "</p><br/><br/><br/><br/>",
                "zeroRecords": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["ไม่พบข้อมูล"].Value))  +"</p><br/><br/><br/><br/>",
                "loadingRecords": "<p class='colot-no-data mt-5 mb-5'>" + @Html.Raw(Json.Serialize(Localizer["Loading.."].Value))  + "</p><br/><br/><br/><br/>",
            },
            searching: true,
            paging: false,
            ordering: false,
            info: false,

        });

    }
    function Close() {
        $('#TableOptionDetail').dataTable().fnDestroy();

    }
    function btnDelete(id) {
        var data = $('#TableOption').DataTable().row(id).data();
        $('#iddelete').val(data.optionID);
        $('#namedelete').text(@Html.Raw(Json.Serialize(Localizer["คุณต้องการลบ Option"].Value)) + ' ' + '"' + data.optionName + '"' +' ' + @Html.Raw(Json.Serialize(Localizer["หรือไม่?"].Value)));
    }

    function fnDelete() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteOption", "ManageMenu")",
            data: {
                id: $('#iddelete').val(),
            },
            success: function (message) {
                location.reload();
            }, error: function (message) {
                $('#ModalOptionDelete').modal().hide();
                $('#ModalPostnotSuccess').modal('show');
            }
        });
    }

    function closemodel() {
        $('#ModalPostnotSuccess').modal().hide();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    function roundToTwo(num) {
        return format('th-TH', 'THB', num);
    }

    function format(locale, currency, number) {
        return new Intl.NumberFormat(locale, {
            style: 'currency',
            currency,
            currencyDisplay: "code"
        })
            .format(number)
            .replace(currency, "")
            .trim();
    }

</script>